<template>
	<div>
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgb(80, 109, 173);">
			<div class="container">
				<div class="navbar-header" style="line-height: 55px;cursor: pointer;" @click="goTo('/')">
					<svg width="220" viewBox="0 0 382 58" version="1.1" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Canvas" transform="translate(716 475)">
							<g id="Group">
								<g id="Group">
									<g id="Vector">
										<use xlink:href="#path0_fill" transform="translate(-709.58 -467.98)"
											fill="#FFFFFF" />
									</g>
									<g id="Vector">
										<use xlink:href="#path1_fill" transform="translate(-716 -475)" fill="#FFFFFF" />
									</g>
								</g>
							</g>
						</g>
						<defs>
							<path id="path0_fill"
								d="M15.2386 44.8807 c-5.7443 -4.0227 -7.2614 -5.1818 -8.608 -6.5284 -3.2727 -3.2727 -5.4034 -7.3636 -6.1875 -11.8636 -0.3409 -1.9432 -0.358 -5.8636 -0.017 -7.7898 1.1932 -6.8182 5.5909 -12.8182 11.6932 -15.9716 10.2443 -5.2841 22.7386 -2.0455 29.0284 7.5 2.625 3.9716 3.8011 8.1989 3.6307 13.0398 -0.1705 4.5341 -1.2955 8.1136 -3.733 11.7443 -0.9886 1.483 -3.1534 3.8693 -4.4489 4.9091 -1.2443 0.9716 -2.5398 0.8864 -3.1023 -0.2045 -0.2216 -0.4261 -0.2557 -2.3864 -0.2557 -14.8977 l0 -14.4205 -0.375 -0.0852 c-0.2216 -0.0511 -4.517 -0.0682 -9.5795 -0.0511 l-9.1875 0.0511 5.0455 3.358 c3.6136 2.4205 5.1307 3.5114 5.3182 3.8864 0.2386 0.4432 0.2557 2.25 0.2216 15.8693 l-0.0511 15.358 -0.5625 0.4943 c-0.4091 0.358 -0.7159 0.4943 -1.2102 0.4943 -0.5795 0 -1.4148 -0.5284 -7.6193 -4.892z m7.6023 -11.6932 c0 -11.233 -0.0511 -14.4375 -0.2045 -14.6591 -0.1193 -0.1705 -3.0511 -2.1989 -6.5284 -4.517 -6.6477 -4.4318 -6.8011 -4.5852 -6.1193 -5.3352 0.2898 -0.3068 0.6818 -0.3239 11.8636 -0.3239 12.5966 0 12.1193 -0.0341 12.9034 0.9545 0.358 0.4602 0.358 0.5114 0.358 14.7443 0 12.0511 0.0341 14.3011 0.2386 14.3011 0.358 0 3.1875 -3.0341 4.0568 -4.3636 1.5 -2.2841 2.5227 -4.6705 3.1534 -7.4318 0.392 -1.7216 0.392 -6.2216 0 -7.9432 -0.9886 -4.3125 -2.9659 -7.858 -6.0511 -10.8068 -3.9034 -3.733 -8.6932 -5.642 -14.0966 -5.642 -5.5398 0 -10.483 2.0284 -14.3352 5.9148 -1.8239 1.8239 -2.8295 3.2045 -3.8693 5.3011 -1.6023 3.2216 -2.25 6.2386 -2.1136 9.8864 0.2045 5.4034 2.0625 9.6818 5.9148 13.5511 1.7386 1.7386 2.6932 2.4716 8.1818 6.3409 3.4261 2.4034 6.3239 4.3807 6.4432 4.3807 0.1534 0.017 0.2045 -2.9659 0.2045 -14.3523z" />
							<path id="path1_fill"
								d="M19.0227 32.8807 c-0.3409 -0.2727 -0.4432 -0.4943 -0.4432 -1.0227 0 -0.8864 0.4602 -1.3466 1.3636 -1.3466 1.5 0 1.9091 1.8068 0.5625 2.5227 -0.5455 0.2898 -0.9716 0.2557 -1.483 -0.1534z" />
						</defs>
						<foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round"
							stroke-dashoffset fill-rule="nonzero" font-size="28" font-family letter-spacing="0"
							word-spacing="0" marker-start marker-mid marker-end id="svg_12" x="65.76629662513733"
							y="14.509128093719482" width="310" height="38.35135042667389"
							style="color: rgb(255, 255, 255);" class="selected" font-weight="300">
							<p xmlns="http://www.w3.org/1999/xhtml"
								style="white-space: nowrap;border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0;">
								Easy Onegate Messaging</p>
						</foreignObject>
					</svg>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav list-inline" v-if="!isHome">
						<!-- v-if="index!= 2 || (currentPage[0] && profile.fb_pages_tasks && profile.fb_pages_tasks[currentPage[0].fb_id] && profile.fb_pages_tasks[currentPage[0].fb_id].indexOf('MANAGE') !== -1)" -->
						<li role="presentation" style="cursor: pointer;" class="nav-item-link list-inline-items"
							v-for="(link, index) in links" :class="link.value === flagLink ? 'active' : ''">
							<a role="button" @click.stop="goTo(link.value)" class="text-light">
								<i :class="link.icon" aria-hidden="true"></i>
								{{link.name}}
							</a>
						</li>
					</ul>
					<!-- <user-box class="right"></user-box> -->
					<ul class="nav list-inline navbar-right">
						<li role="presentation" class="avatar-navbar custom-dropdown-menu list-inline-items pr-3 pl-3"
							@click="toggleUserMenu()">
							<template v-if="!isHome">
								<span class="text-light pr-2"
									v-if="currentPage.length == 1">{{currentPage.name | truncate(50)}}</span>
								<span class="d-inline-flex" v-for="(page, index) in currentPage" v-if="page">
									<div class="LazyLoad is-visible m-0" style="height:34px;"
										:style="(currentPage.length > 1 && index!=currentPage.length - 1) ? 'width: 19px' : ''">
										<img :src="page.picture ? page.picture.data.url : 'https://graph.facebook.com/' + page.fb_id + '/picture?height=100&width=100'"
											width="34" height="34"
											style="border-radius: 17px; border: 2px solid rgb(255, 255, 255);" />
									</div>
									<div class="LazyLoad is-visible pl-2 m-0" v-if="me && currentPage.length == 1"
										style="height:34px;">
										<img :src="'https://graph.facebook.com/' + me.socialLinks.facebook + '/picture?height=100&amp;width=100'"
											width="34" height="34"
											style="border-radius: 17px; border: 2px solid rgb(255, 255, 255);" />
									</div>
								</span>
							</template>
							<template v-else-if="isHome && me">
								<span class="text-light pr-2">{{ me.fullName }}</span>
								<span class="d-inline-flex">
									<div class="LazyLoad is-visible pr-2 m-0" style="height:34px;">
										<img :src="me.avatar" width="34" height="34"
											style="border-radius: 17px; border: 2px solid rgb(255, 255, 255);" />
									</div>
								</span>
							</template>
							<user-dropdown v-click-outside="closeEvent" v-if="expandedUserMenu"
								:visible="expandedUserMenu"></user-dropdown>
							<!-- <li role="presentation" class="avatar-navbar custom-dropdown-menu list-inline-items" >
				      <a role="button" href="#" class="text-nowrap" >
				         <span >Azzzh</span>
				         <span >
				            <div class="LazyLoad is-visible" style="height:34px;" ><img src="https://graph.facebook.com/1917900508441832/picture?height=100&amp;width=100" width="34" height="34" style="border-radius: 17px; border: 2px solid rgb(255, 255, 255);"></div>
				            <div class="LazyLoad is-visible" style="height:34px;" ><img src="https://graph.facebook.com/971198943068157/picture?height=100&amp;width=100" width="34" height="34" style="border-radius: 17px; border: 2px solid rgb(255, 255, 255);"></div>
              </span>-->

							<!-- </a> -->
						</li>
						<li role="presentation" class="custom-dropdown-menu list-inline-items text-light pl-2 pr-2"
							@click="toggleNotifications()">
							<!-- <a id="notificationItem" role="button" href="#" > -->
							<!-- <div > -->
							<i class="fa fa-bell-o" :class="notifications.length > 0 ? 'notifi-icon' : ''"
								style="margin:0;padding:0;font-size:22px;line-height: 54px;" aria-hidden="true"></i>
							<notifications-dropdown v-click-outside="closeEvent" v-if="expandedNotifications"
								:visible="expandedNotifications"></notifications-dropdown>

							<!-- </div> -->
							<!-- </a> -->
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<b-modal ref="facebookModalWarning" hide-footer centered class="text-center" :title="_('Warning')"
			:no-close-on-backdrop="true" size="sm">
			<span>Facebook token expired</span>
			<span>
				Click to renew
				<a class="btn-link" href="/auth/facebook">Here</a> To continue
			</span>
		</b-modal>
	</div>
	<!-- <section class="page-header">
		<logo class="left"></logo>
		<div class="menu-toggle left" @click="toggleSidebar()"><i class="fa fa-bars"></i></div>
		<search-box class="left"></search-box>
		<user-box class="right"></user-box>
			<b-modal ref="facebookModalWarning" hide-footer centered class="text-center"
				 :title="_('Warning')" :no-close-on-backdrop="true" size="sm">
			<span>{{_('FacebookTokenExpired')}}</span>
			<span>{{_('ClickToRenew')}}
			<a class="btn-link" href="/auth/facebook">{{_('Here')}}</a> {{_('ToContinue')}}
		</span>
		</b-modal>
  </section>-->
</template>

<script>
	import Logo from "./logo";
	import SearchBox from "./search-box";
	import UserBox from "./user-box";
	import UserDropdown from "./dropdowns/user";
	import NotificationsDropdown from "./dropdowns/notifications";
	import {
		cloneDeep
	} from "lodash";
	import {
		mapActions,
		mapGetters
	} from "vuex";
	export default {
		components: {
			Logo,
			SearchBox,
			UserBox,
			UserDropdown,
			NotificationsDropdown
		},
		computed: {
			...mapGetters("pages", ["pages"]),
			...mapGetters("session", ["me", "notifications", "messages"]),
			...mapGetters("profile", ["profile"])
		},

		props: ["toggleSidebar"],
		socket: {
			prefix: "/notifications/",
			events: {
				notification(res) {
					this.$hub.$emit(res.method, res.value);
				}
			}
		},
		data() {
			return {
				expandedUserMenu: false,
				expandedNotifications: false,
				expandedMessages: false,
				userFlag: 0,
				notifiFlag: 0,
				messageFlag: 0,
				currentLink: this.$route.path,
				currentPage: [],
				links: [{
						icon: "fa fa-comments",
						name: "Hội thoại",
						value: "/chat/" + this.$route.params.item
					},
					{
						icon: "fa fa-file-text",
						name: "Bài viết",
						value: "/posts/" + this.$route.params.item
					},
					{
						icon: "fa fa-bar-chart",
						name: "Thống kê",
						value: "/statistics/" + this.$route.params.item
					},
					{
						icon: "fa fa-cog",
						name: "Cài đặt",
						value: "/configurations/" + this.$route.params.item
					}
				],
				flagLink: this.$route.path,
				isHome: true
			};
		},
		watch: {
			"$route.path"(to, from) {
				this.currentLink = to;
				this.flagLink = to;
				if (
					this.$route.params.item &&
					this.$route.params.item !== localStorage.pageId
				) {
					this.links[0].value = "/chat/" + this.$route.params.item;
					this.links[1].value = "/posts/" + this.$route.params.item;
					this.links[2].value = "/statistics/" + this.$route.params.item;
					this.links[3].value = "/configurations/" + this.$route.params.item;
				}
				if (this.$route.params.item) {
					localStorage.setItem("pageId", this.$route.params.item.split("&"));
					localStorage.setItem("pageArr", JSON.stringify(this.pages));
					if (this.pages && this.pages.length > 0) {
						this.currentPage = [];
						this.pages.forEach(item => {
							if (this.$route.params.item.split("&").indexOf(item.fb_id) > -1) {
								this.currentPage.push(item);
							}
						});
					}
				} else if (to === "/") {
					localStorage.removeItem("pageId");
				}
				if (to != "/" && localStorage.pageId && to != "/profile") {
					this.isHome = false;
				} else {
					this.isHome = true;
				}
			}
		},
		methods: {
			...mapActions("profile", ["getProfile"]),
			...mapActions("configurations", {
				getSettings: "getRows"
			}),
			goTo(url) {
				console.log(url);
				this.$router.push({
					path: url
				});
			},
			toggleUserMenu() {
				this.expandedUserMenu = !this.expandedUserMenu;
				if (this.expandedUserMenu) {
					this.expandedMessages = false;
					this.expandedNotifications = false;
					this.notifiFlag = 0;
					this.messageFlag = 0;
				}
				if (!this.expandedUserMenu) {
					this.userFlag = 0;
				}
			},

			toggleMessages() {
				this.expandedMessages = !this.expandedMessages;
				if (this.expandedMessages) {
					this.expandedUserMenu = false;
					this.expandedNotifications = false;
					this.userFlag = 0;
					this.messageFlag = 0;
				}
				if (!this.expandedMessages) {
					this.messageFlag = 0;
				}
			},

			toggleNotifications() {
				this.expandedNotifications = !this.expandedNotifications;
				if (this.expandedNotifications) {
					this.expandedMessages = false;
					this.expandedUserMenu = false;
					this.userFlag = 0;
					this.messageFlag = 0;
				}
				if (!this.expandedNotifications) {
					this.notifiFlag = 0;
				}
			},

			closeEvent() {
				if (this.expandedUserMenu) {
					if (this.userFlag != 0) {
						this.expandedUserMenu = false;
					}
					this.userFlag++;
					if (!this.expandedUserMenu) {
						this.userFlag = 0;
					}
				} else if (this.expandedNotifications) {
					if (this.notifiFlag != 0) {
						this.expandedNotifications = false;
					}
					this.notifiFlag++;
					if (!this.expandedNotifications) {
						this.notifiFlag = 0;
					}
				} else if (this.expandedMessages) {
					if (this.messageFlag != 0) {
						this.expandedMessages = false;
					}
					this.messageFlag++;
					if (!this.expandedMessages) {
						this.messageFlag = 0;
					}
				}
			},

			getSetting(pageId) {
				this.getSettings({
						condition: {
							fb_id: pageId,
							type: {
								$in: [
									"generalSetting",
									"tagsSetting",
									"replySetting",
									"assigningSetting"
								]
							}
						}
					})
					.then(data => {
						// console.log(data)
						if (data && data.length > 0) {
							for (let i = 0; i < data.length; i++) {
								localStorage.setItem(data[i].type, JSON.stringify(data[i]));
							}
						}
					})
					.catch(err => {
						toast.error(this._("Error"));
						console.log(err);
					});
			}
		},

		created() {
			if (this.$route.params.item) {
				this.getSetting(this.$route.params.item.split("&")[0]);
				localStorage.setItem("pageId", this.$route.params.item.split("&"));
				var arr = [];
				if (this.pages && this.pages.length > 0) {
					arr = this.pages;
				} else if (localStorage.pageArr) {
					arr = JSON.parse(localStorage.pageArr);
				}
				if (arr) {
					this.currentPage = [];
					arr.forEach(item => {
						if (this.$route.params.item.split("&").indexOf(item.fb_id) > -1) {
							this.currentPage.push(item);
						}
					});
				}
			} else if (this.$route.path === "/") {
				localStorage.removeItem("pageId");
			}
			if (
				this.$route.path != "/" &&
				localStorage.pageId &&
				this.$route.path != "/profile"
			) {
				this.isHome = false;
			} else {
				this.isHome = true;
			}
		},
		mounted() {
			this.$hub.$on("tokenExpired", res => {
				// console.log("facebook token expired hook from header", res);
				this.$refs.facebookModalWarning.show();
			});
			this.$hub.$on("settingsChanged", res => {
				localStorage.setItem(res.type, JSON.stringify(res));
			});
		},
		destroyed() {
			this.$hub.$off("tokenExpired");
			this.$hub.$off("settingsChanged");
		}
	};

</script>

<style lang="scss">
	@keyframes shake {
		0% {
			-webkit-transform: translate3d(0, 6px, 0) scale(0.8757);
			-webkit-transform: translate3d(0, 6px, 0) scale(0.8757);
			-ms-transform: translate3d(0, 6px, 0) scale(0.8757);
			transform: translate3d(0, 6px, 0) scale(0.8757);
		}

		3.28% {
			-webkit-transform: translate3d(0, 8px, 0) scale(0.857);
			-webkit-transform: translate3d(0, 8px, 0) scale(0.857);
			-ms-transform: translate3d(0, 8px, 0) scale(0.857);
			transform: translate3d(0, 8px, 0) scale(0.857);
		}

		27.46% {
			-webkit-transform: translate3d(0, -3px, 0) scale(1.0285);
			-webkit-transform: translate3d(0, -3px, 0) scale(1.0285);
			-ms-transform: translate3d(0, -3px, 0) scale(1.0285);
			transform: translate3d(0, -3px, 0) scale(1.0285);
		}

		51.64% {
			-webkit-transform: translate3d(0, 0.6px, 0) scale(0.9943);
			-webkit-transform: translate3d(0, 0.6px, 0) scale(0.9943);
			-ms-transform: translate3d(0, 0.6px, 0) scale(0.9943);
			transform: translate3d(0, 0.6px, 0) scale(0.9943);
		}

		75.82% {
			-webkit-transform: translate3d(0, -0.1px, 0) scale(1.0011);
			-webkit-transform: translate3d(0, -0.1px, 0) scale(1.0011);
			-ms-transform: translate3d(0, -0.1px, 0) scale(1.0011);
			transform: translate3d(0, -0.1px, 0) scale(1.0011);
		}

		100% {
			-webkit-transform: translate3d(0, 0.02px, 0) scale(0.9998);
			-webkit-transform: translate3d(0, 0.02px, 0) scale(0.9998);
			-ms-transform: translate3d(0, 0.02px, 0) scale(0.9998);
			transform: translate3d(0, 0.02px, 0) scale(0.9998);
		}
	}

	.custom-dropdown-menu {
		display: inherit !important;
		line-height: 54px;

		&:hover {
			background: #364c7d;
		}

		.notification-content {
			position: absolute;
			background-color: #f9f9f9;
			font-size: 13px;
			top: 54px;
			right: 0;
			min-width: 180px;
			padding: 10px;
			border: 1px solid #d8d8d8;
			-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
			width: 300px;
			z-index: 9999;
			border-radius: 6px;
			color: #000;
		}
	}

	.dropdown-content {
		position: absolute;
		background-color: #f9f9f9;
		top: 54px;
		right: -10px;
		min-width: 160px;
		border: 1px solid #d8d8d8;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
		width: 260px;
		z-index: 9999;
		border-radius: 6px;
	}

	.navbar-item {
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
		color: #777;
		font-weight: 400;
	}

	.navbar-option {
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
		color: #777;
		font-weight: 400;
		//text-align: center;
	}

	.avatar-navbar {
		display: inherit !important;
		line-height: 54px;

		.LazyLoad {
			display: inline;
			margin-left: 10px;
		}

		&:hover {
			background: #364c7d;
		}
	}

	.navbar-item:hover,
	.navbar-option:hover {
		cursor: "pointer";
		background-color: #eee;
	}

	.nav {
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;
	}

	.navbar {
		position: relative;
		min-height: 55px;
		margin-bottom: 0;
		padding: 0;
	}

	.navbar-collapse {
		flex-basis: unset !important;
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.navbar-fixed-bottom {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.list-inline {
		position: unset;
	}

	nav.navbar ul {
		li a {
			font-size: 14px;
			text-transform: unset !important;
			color: #fff;
		}

		&.nav>li>a {

			&:hover,
			&:focus {
				background: #364c7d;
			}
		}
	}

	.list-inline>.active>a {
		background: #364c7d;
	}

	.navbar-fixed-top .navbar-collapse {
		max-height: 340px;
	}

	.list-inline>li {
		height: 54px;
		margin: 0 1px 0 0;

		>a {
			padding: 10px 12px 11px 12px;
			line-height: 34px;
		}
	}

	@media (min-width: 768px) {
		.container>.navbar-header {
			margin-right: 0;
			margin-left: 0;
		}

		.navbar-collapse {
			width: auto;
			border-top: 0;
			-webkit-box-shadow: none;
			box-shadow: none;

			&.collapse {
				display: block !important;
				height: auto !important;
				padding-bottom: 0;
				overflow: visible !important;
			}
		}

		.list-inline {
			float: left;
			margin: 0;
		}
	}

	.notifi-icon {
		-webkit-animation: shake;
		-webkit-animation: shake;
		animation: shake;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-duration: 2.67s;
		-webkit-animation-duration: 2.67s;
		animation-duration: 2.67s;
		-webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
		-webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
		animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}

</style>
