<!--
<template lang="pug">
	.user-box(v-if="me")

		.user-info.right(@click="toggleUserMenu()")
			img.avatar(:src='me.avatar')
			.username {{ me.fullName }}
			i.fa.fa-chevron-down

		user-dropdown(:visible="expandedUserMenu")

		.notification-box.right
			ul.icons
				li(@click="toggleNotifications()", :class=" { active: notifications.length > 0 }")
					i.fa.fa-bell-o
					span {{ notifications.length }}
					.ring

				li(@click="toggleMessages()", :class=" { active: messages.length > 0 }")
					i.fa.fa-envelope-o
					span {{ messages.length }}
					.ring

			notifications-dropdown(:visible="expandedNotifications")
			messages-dropdown(:visible="expandedMessages")


</template>
-->
<template>
	<div class="user-box" v-if="me">
		<div class="user-info right" @click="toggleUserMenu()">
			<img class="avatar" :src="me.avatar"/>
			<div class="username d-none d-md-block">{{ me.fullName }}</div>
			<i class="fa fa-chevron-down"></i>
		</div>
		<user-dropdown v-click-outside="closeEvent" v-if="expandedUserMenu" :visible="expandedUserMenu"></user-dropdown>
		<div class="notification-box right">
			<ul class="icons">
				<li @click="toggleNotifications()" :class=" { active: notifications.length &gt; 0 }">
					<i class="fa fa-bell-o"></i>
					<span>{{ notifications.length }}</span>
					<div class="ring"></div>
				</li>
				<li @click="toggleMessages()" :class=" { active: messages.length &gt; 0 }">
					<i class="fa fa-envelope-o"></i>
					<span>{{ messages.length }}</span>
					<div class="ring"></div>
				</li>
			</ul>
			<notifications-dropdown  v-click-outside="closeEvent" v-if="expandedNotifications" :visible="expandedNotifications"></notifications-dropdown>
			<messages-dropdown  v-click-outside="closeEvent" v-if="expandedMessages" :visible="expandedMessages"></messages-dropdown>
		</div>
	</div>
</template>
<script>
	import UserDropdown from "./dropdowns/user";
	import NotificationsDropdown from "./dropdowns/notifications";
	import MessagesDropdown from "./dropdowns/messages";

	import { mapActions, mapGetters } from "vuex";

	export default {
		computed: mapGetters("session", [
			"me",
			"notifications",
			"messages"
		]),

		components: {
			UserDropdown,
			NotificationsDropdown,
			MessagesDropdown
		},

		data() {
			return {
				expandedUserMenu: false,
				expandedNotifications: false,
				expandedMessages: false,
				userFlag: 0,
				notifiFlag: 0,
				messageFlag: 0,
			};
		},

		methods: {

			toggleUserMenu() {
				this.expandedUserMenu = !this.expandedUserMenu;
				if (this.expandedUserMenu) {
					this.expandedMessages = false;
					this.expandedNotifications = false;
				}
				if(!this.expandedUserMenu){
			      	this.userFlag = 0;
			    }
			},

			toggleMessages() {
				this.expandedMessages = !this.expandedMessages;
				if (this.expandedMessages) {
					this.expandedUserMenu = false;
					this.expandedNotifications = false;
				}
				if(!this.expandedMessages){
			      	this.messageFlag = 0;
			    }
			},

			toggleNotifications() {
				this.expandedNotifications = !this.expandedNotifications;
				if (this.expandedNotifications) {
					this.expandedMessages = false;
					this.expandedUserMenu = false;
				}
				if(!this.expandedNotifications){
			      	this.notifiFlag = 0;
			    }
			},

			closeEvent () {
				if(this.expandedUserMenu) {
					if (this.userFlag != 0) {
						this.expandedUserMenu = false;
					}
					this.userFlag ++;
					if(!this.expandedUserMenu) {
				      	this.userFlag = 0;
				    }
				} else if(this.expandedNotifications) {
					if (this.notifiFlag != 0) {
						this.expandedNotifications = false;
					}
					this.notifiFlag ++;
					if(!this.expandedNotifications) {
				      	this.notifiFlag = 0;
				    }
				} else if(this.expandedMessages){
					if (this.messageFlag != 0) {
						this.expandedMessages = false;
					}
					this.messageFlag ++;
					if(!this.expandedMessages) {
				      	this.messageFlag = 0;
				    }
				}
		    }

		},

	};

</script>

<style lang="scss">
</style>
