extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/app.css')
	link(rel='shortcut icon', type="image/x-icon", href='favicon.ico?v=2')

block content
	#app

block scripts
	// Site scripts
	script(src='/app/vendor.js')
	script(src='/app/app.js')
	