<template>
	<div class="crm-order-component">
		<div class="title">Thông tin đơn hàng</div>
		<el-form
			v-model="order"
			label-position="left"
			label-width="120px"
		>
			<el-row>
				<el-col>
					<el-form-item label="Họ và tên">
						<el-input v-model="order.Name"  size="mini" />
					</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-col>
					<el-form-item label="Số điện thoại">
						<el-input v-model="order.Phone"  size="mini" />
					</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-form-item label="Địa chỉ">
					<el-input v-model="order.Address"  size="mini" />
				</el-form-item>
			</el-row>
			<el-row>
				<el-form-item label="Sản phẩm">
					<el-row
						class="product"
						v-for="(item, index) in order.Products"
						:key="index"
					>
						<el-col :span="4">
							<el-input type="number" v-model="order.Products[index].quantity" :min="1" size="mini" />
						</el-col>
						<el-col :span="17" style="padding-left: 12px; padding-right: 12px">
							<el-select
								v-model="order.Products[index].product"
								value-key="Id"
								size="mini"
								style="width: 100%"
							>
								<el-option
									v-for="opt in products"
									:key="opt.Id"
									:label="opt.Lead"
									:value="opt"
								/>
							</el-select>
						</el-col>
						<el-col :span="3" style="text-align: right">
							<el-button type="danger" size="mini" @click="handleRemoveProduct(index)">
								<i class="fa fa-close" />
							</el-button>
						</el-col>
					</el-row>
					<div><el-button type="success" size="mini" @click="handleAddProduct"><i class="fa fa-plus" /></el-button></div>
				</el-form-item>
			</el-row>
			<el-row>
				<el-form-item label="Người bán">
					<el-select
						v-model="order.Sale"
						value-key="UserId"
						size="mini"
						filterable
						style="width: 100%"
					>
						<el-option
							v-for="opt in sales"
							:key="opt.UserId"
							:label="opt.Username"
							:value="opt"
						/>
					</el-select>
				</el-form-item>
			</el-row>
			<el-row>
				<el-form-item label="Ghi chú">
					<el-input v-model="order.note" type="textarea" :rows="2" />
				</el-form-item>
			</el-row>
			<el-row>
				<el-form-item class="text-right w-100">
					<el-button type="primary" size="mini" @click="createOrder">Tạo ngay</el-button>
					<el-button type="danger" size="mini" @click="$emit('cancel')">Hủy</el-button>
				</el-form-item>
			</el-row>
		</el-form>
	</div>
</template>

<script>
import Vue from "vue";
import ElementUI from "element-ui";

Vue.use(ElementUI);

export default {
	props: {
		contact: {
			type: Object,
			default: () => {}
		},
		products: {
			type: Array,
			default: () => []
		},
		sales: {
			type: Array,
			default: () => []
		}
	},

	watch: {
		contact: {
			handler: function (val) {
				if (val) {
					this.order = {
						Name: val.Name,
						Phone: val.Phone,
						Address: val.Address,
						Products: [],
						Contact: this.contact
					}
				}
			},
			deep: true,
			immediate: true
		}
	},

	data() {
		return {
			order: {}
		}
	},

	methods: {
		createOrder() {
			this.$store
				.dispatch("crm/crmCreateOrder", this.order)
				.then(() => {
					this.$emit("success");
				})
		},
		handleAddProduct() {
			this.order.Products.push({
				product: null,
				quantity: 1
			})
		},
		handleRemoveProduct(index) {
			this.order.Products.splice(index, 1)
		}
	}
}
</script>

<style lang="scss">
.crm-order-component {
	padding: 12px !important;

	.el-form-item {
		margin-bottom: 12px;
	}

	.title {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		padding-bottom: 24px;
	}
}
</style>
