<template>
  <div class="facebook container-fluid">
      <div class="row">
        <div v-for="item in listPage" v-if="listPage && listPage.length > 0" class="card col-md-5 mr-5">
			<div class="row">
				<div class="col-md-2">
					<router-link :to="'/message/'+item.id">
				  		<img :src="item.picture.data.url" class="img-thumbnail">
					</router-link>
				</div>
				<div class="col">
					<p>
						<router-link   class="btn"  :to="'/message/'+item.id">
								<u>{{item.name}}</u>
						</router-link>
					</p>
					<a :href="item.link" class="btn btn-link" target="_blank">{{item.link}}</a>
				</div>
			</div>
        </div>
      </div>

  </div>
</template>
<script>
  import Vue from "vue";
  import Service from "../../core/service";
  // import Config from "config";
  import FacebookInfo from "./FacebookInfo";

  let service = window.facebookService;

  export default {
  	components: {
  		FacebookInfo,
  	},
  	data() {
  		return {
  			listPage: [],
  			userInfo: {},
  			showEditForm: false
  		};
  	},
  	created() {
  		let ctrl = this;
  		ctrl.getData();
  	},
  	methods: {
      // logOut() {
      //   FB.logout((response) => {
      //     //this.$router.go();
      //     // user is now logged out
      //   });
      // },
  		getData() {
  			let ctrl = this;
  			service.rest("/graph", ["/me",
  				"GET",
            {"fields":"id,name,picture,accounts{id,name,link,picture}"}]).then((response) => {
  	ctrl.userInfo = ctrl.$Lodash.cloneDeep(response);
  	ctrl.listPage = ctrl.$Lodash.cloneDeep(response.accounts.data);
  }).catch((err) => {
  	console.log(err);
  });
  		},
  		handleEdit(item) {
  			this.rowItem = item;

        //console.log(this.rowItem);
  			this.showEditForm = true;
        //this.$router.push({ path: '/lists', query: { id: row.Id }});
  		},

  		hiddenForm(state) {
        //console.log(state)
  			this.showEditForm = false;
  		},
  	},
  	mounted() {

  	},
  	socket: {

		prefix: "/facebook/",

			//namespace: "/counter",

		events: {
				/**
				 * Counter value is changed
				 * @param  {Number} msg Value of counter
				 */
			changed(res) {
  				console.log("Counter changed to " + res.data + (res.user ? " by " + res.user.fullName : ""));

					//this.changedValue(res.data);
			},
			created(res) {
  				console.log(res);

					//this.changedValue(res.data);
			}

		}
	}

  };
</script>

<style lang="scss" scoped>
.facebook {
	padding: 100px;
}
</style>
