<template>
	<div class="interactions statistics-page h-100">
		<div v-if="loading" class="d-flex justify-content-center align-items-center h-100 w-100">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div v-else class="inner m-3">
			<div class="container-fluid">
				<div class="page-title">
					<h2>Tuơng tác</h2>
				</div>
				<div class="page-tools d-flex justify-content-between align-items-center w-100">
					<div class="left-tool">
						<el-select
							v-model="staff"
							size="mini"
							placeholder="Tất cả"
							clearable
						>
							<el-option
								v-for="staff in staffs"
								:key="staff._id"
								:value="staff._id"
								:label="staff.fullName"
							>
								<img :src="staff.profile.picture" style="width: 24px; height: 24px; border-radius: 50%">
								<span>{{ staff.fullName }}</span>
							</el-option>
						</el-select>
					</div>
					<div class="right-tool d-flex align-items-center">
						<el-date-picker
							v-model="dates"
							type="daterange"
							range-separator="-"
							size="mini"
							format="dd-MM-yyyy"
							start-placeholder="Từ ngày"
							end-placeholder="Đến ngày"
							@change="initAll"
						/>
						<div class="print-btn pl-2 pr-2">
							<el-button size="mini" circle>
								<i class="fa fa-print" />
							</el-button>
						</div>
						<div class="export-excel-btn">
							<el-button size="mini" circle>
								<i class="fa fa-file-excel-o" />
							</el-button>
						</div>
					</div>
				</div>

				<div class="row mt-4 m-0">
					<div class="card p-2 card-312 col-12">
						<div class="chart-title text-center">
							<h6>Lượt tương tác với khách hàng</h6>
						</div>
						<div class="content container-fluid h-100 p-2 mt-3">
							<div class="row h-100">
								<div class="col-4 h-100 centerer">
									<div class="w-100 text-center total">{{ totalInteractionStatisticsData.total }}</div>
									<div class="w-100 text-center">
										<span>Tổng</span>
										<el-tooltip effect="dark" placement="top" content="Tổng số lượt nhân viên tương tác với khách bằng bình luận và tin nhắn (mỗi khách hàng chỉ tính một lần trong ngày, bao gồm khách hàng cũ. Nếu vừa tương tác bình luận và tin nhắn cho một khách sẽ được tính 1 lần)">
											<i class="fa fa-question-circle" style="color: #ffb01b"/>
										</el-tooltip>
									</div>
								</div>
								<div class="col-4 h-100" style="border-right: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5">
									<div class="h-50 centerer">
										<div class="w-100 text-center inbox">{{ totalInteractionStatisticsData.inbox }}</div>
										<div class="w-100 text-center">
											<span>Tin nhắn</span>
											<el-tooltip effect="dark" placement="top" content="Tổng số lượt nhân viên tương tác với khách bằng tin nhắn (mỗi khách hàng chỉ tính một lần trong ngày, bao gồm khách hàng cũ)">
												<i class="fa fa-question-circle" style="color: #ffb01b"/>
											</el-tooltip>
										</div>
									</div>
									<div class="h-50 centerer">
										<div class="w-100 text-center comment">{{ totalInteractionStatisticsData.comment }}</div>
										<div class="w-100 text-center">
											<span>Bình luận</span>
											<el-tooltip effect="dark" placement="top" content="Tổng số lượt nhân viên tương tác với khách bằng bình luận (mỗi khách hàng chỉ tính một lần trong ngày, bao gồm khách hàng cũ)">
												<i class="fa fa-question-circle" style="color: #ffb01b"/>
											</el-tooltip>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="h-50 centerer">
										<div class="w-100 text-center contact">{{ totalInteractionStatisticsData.contact }}</div>
										<div class="w-100 text-center">
											<span>Khách hàng mới</span>
											<el-tooltip effect="dark" placement="top" content="Số lượt nhân viên tương tác với khách hàng mới (bằng cả tin nhắn và bình luận)">
												<i class="fa fa-question-circle" style="color: #ffb01b"/>
											</el-tooltip>
										</div>
									</div>
									<div class="h-50 centerer">
										<div class="w-100 text-center old-contact">{{ totalInteractionStatisticsData.oldContact }}</div>
										<div class="w-100 text-center">
											<span>Khách hàng cũ</span>
											<el-tooltip effect="dark" placement="top" content="Số lượt nhân viên tương tác với khách hàng cũ (bằng cả tin nhắn và bình luận)">
												<i class="fa fa-question-circle" style="color: #ffb01b"/>
											</el-tooltip>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="statistics-table row mt-4 m-0">
					<el-table
						v-if="interactionStatisticsTableData"
						:data="interactionStatisticsTableData"
						style="width: 100%"
						border
					>
						<el-table-column
							label="Thời gian"
							align="center"
							prop="time"
							width="150"
							fixed
						/>
						<el-table-column
							label="Tương tác với khách bằng tin nhắn"
							width="200px"
							align="center"
							prop="inbox"
						/>
						<el-table-column
							label="Tổng khách hàng tương tác"
							width="200px"
							align="center"
							prop="total"
						/>
						<el-table-column
							label="Tương tác khách hàng mới"
							width="200px"
							align="center"
							prop="contact"
						/>
						<el-table-column
							label="Tương tác khách hàng cũ"
							width="200px"
							align="center"
							prop="oldContact"
						/>
					</el-table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import moment from 'moment'
import { mapGetters, mapActions } from 'vuex'
import { getStaffs } from './store/actions'

export default {
	data() {
		return {
			dates: [],
			pageIds: [],
			loading: false,
			staff: null
		}
	},

	computed: {
		...mapGetters("statistics", {
			staffs: "staffs",
			interactionStatistics: "interactionStatistics",
			totalInteractionStatistics: "totalInteractionStatistics"
		}),
		interactionStatisticsTableData: function() {
			if (!this.interactionStatistics) {
				return []
			}

			const result = []
			this.interactionStatistics.list.forEach((statistics, index) => {
				result.push({
					time: this.interactionStatistics.labels[index],
					comment: 0,
					inbox: 0,
					oldContact: 0,
					contact: 0,
					total: 0
				})

				statistics.forEach(statistic => {
					if (!this.staff || this.staff === statistic.staffId) {
						Object.keys(result[index]).forEach(key => {
							if (key != 'time') {
								result[index][key] += statistic[key]
							}
						})
					}
				})
			})

			return result
		},
		totalInteractionStatisticsData: function() {
			const data = {
				comment: 0,
				inbox: 0,
				oldContact: 0,
				contact: 0,
				total: 0
			}

			if (!this.totalInteractionStatistics) {
				return data
			}

			this.totalInteractionStatistics.forEach(statistic => {
				if (!this.staff || this.staff === statistic.staffId) {
					Object.keys(data).forEach(key => {
						data[key] += statistic[key]
					})
				}
			})

			return data
		}
	},

	watch: {
		$route: {
			handler: function(val) {
				if (val && val.params && val.params.item) {
					const from = moment().subtract(7, 'days').toDate()
					const to = moment().toDate()
					this.dates = [from, to]
					this.pageIds = this.$route.params.item.split('&')
					this.initAll(this.pageIds)
				}
			},
			immediate: true,
			deep: true
		}
	},

	methods: {
		initAll() {
			if (this.staffs && this.staffs.length > 0) {
				this.initInteractionStatistics(this.pageIds)
			} else {
				this.getStaffs({
					pageIds: this.pageIds
				}).then(() => {
					if (this.staffs.length > 0) {
						this.initInteractionStatistics(this.pageIds)
					}
				})
			}
		},
		initInteractionStatistics(pageIds) {
			this.loading = true
			this.getTotalInteractionStatistics({
				pageIds,
				from: this.dates[0],
				to: this.dates[1],
				staffIds: this.staffs.map(e => e._id)
			})
			this.getInteractionStatistics({
				pageIds,
				from: this.dates[0],
				to: this.dates[1],
				staffIds: this.staffs.map(e => e._id)
			}).then(() => {
				this.loading = false
			})
		},
		...mapActions("statistics", {
			getStaffs: "getStaffs",
			getInteractionStatistics: "getInteractionStatistics",
			getTotalInteractionStatistics: "getTotalInteractionStatistics"
		})
	}
}
</script>

<style lang="scss">
.interactions {
	.h-50 {
		height: 50%;
	}

	.centerer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	.total {
		font-size: 45px;
		color: #007bcc;
	}

	.inbox {
		font-size: 35px;
		color: #e30000;
	}

	.comment {
		font-size: 35px;
		color: #00aa18;
	}

	.contact {
		font-size: 35px;
		color: #931c9e;
	}

	.old-contact {
		font-size: 35px;
		color: #8e685a;
	}
}
</style>
