<template>
	<div class="overview statistics-page">
		<div class="inner m-3 ml-3">
			<div class="container-fluild">
				<div class="page-title">
					<h2>Tổng quan</h2>
				</div>

				<div class="row">
					<div class="col-12 col-lg-5">
						<div class="row">
							<div class="col-6 pr-0">
								<div v-if="overviewLoading" class="card card-312 d-flex justify-content-center align-items-center">
									<div class="spinner-border" role="status">
										<span class="sr-only">Loading...</span>
									</div>
								</div>
								<div v-else class="card card-312 p-2">
									<div class="numberer pb-3">{{ get(overview, "thisMonth.contact") }}</div>
									<div class="card-title gray-text">KHÁCH HÀNG MỚI</div>
									<div ref="timechart" class="time-chart pt-2 pb-3">
										<LineChart
											:height="50"
											:chart-data.sync="recentlyContactChartData"
											:options="{
												responsive: true,
												maintainAspectRatio: false,
												layout: {
													padding: 0
												},
												legend: {
													display: false
												},
												scales: {
													xAxes: [{
														ticks: {
															display: false
														},
														gridLines: {
															display: false
														}
													}],
													yAxes: [{
														ticks: {
															display: false
														},
														gridLines: {
															display: false
														}
													}]
												}
											}"
										/>
									</div>
									<div class="list-numberer">
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Hôm nay</span>
											<span class="item-val">{{ get(overview, "today.contact") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tuần này</span>
											<span class="item-val">{{ get(overview, "thisWeek.contact") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tuần trước</span>
											<span class="item-val">{{ get(overview, "lastWeek.contact") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tháng này</span>
											<span class="item-val">{{ get(overview, "thisMonth.contact") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tháng trước</span>
											<span class="item-val">{{ get(overview, "lastMonth.contact") }}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6 pr-0">
								<div class="card card-312 p-2">
									<div class="numberer pb-3">{{ get(overview, "thisMonth.message") }}</div>
									<div class="card-title gray-text">TIN NHẮN</div>
									<div class="time-chart pt-2 pb-3">
										<LineChart
											:height="50"
											:chart-data.sync="recentlyMessageChartData"
											:options="{
												responsive: true,
												maintainAspectRatio: false,
												layout: {
													padding: 0
												},
												legend: {
													display: false
												},
												scales: {
													xAxes: [{
														ticks: {
															display: false
														},
														gridLines: {
															display: false
														}
													}],
													yAxes: [{
														ticks: {
															display: false
														},
														gridLines: {
															display: false
														}
													}]
												}
											}"
										/>
									</div>
									<div class="list-numberer">
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Hôm nay</span>
											<span class="item-val">{{ get(overview, "today.message") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tuần này</span>
											<span class="item-val">{{ get(overview, "thisWeek.message") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tuần trước</span>
											<span class="item-val">{{ get(overview, "lastWeek.message") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tháng này</span>
											<span class="item-val">{{ get(overview, "thisMonth.message") }}</span>
										</div>
										<div class="item pb-2 w-100 d-flex align-items-center justify-content-between">
											<span>Tháng trước</span>
											<span class="item-val">{{ get(overview, "lastMonth.message") }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-7">
						<div v-if="recentlyMessageAndContactCountLoading" class="card card-150 d-flex justify-content-center align-items-center">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div v-else class="card card-150 p-2">
							<div class="chart-title text-center">
								<h6>Thống kê theo thời gian trong ngày</h6>
							</div>
							<div class="time-chart pt-1">
								<LineChart
									:height="110"
									:chart-data.sync="messageAndCommentChartData"
									:options="{
										responsive: true,
										maintainAspectRatio: false,
										layout: {
											padding: 0
										},
										scales: {
											yAxes: [{
												ticks: {
													callback: function(value, index, values) {
														if (index === 0 && messageAndCommentTodayCount) {
															return Math.max.apply(this, messageAndCommentTodayCount.messageAndCommentCounts)
														} else return '';
													}
												}
											}]
										}
									}"
								/>
							</div>
						</div>

						<div v-if="topUserInteractionLoading" class="card card-150 d-flex justify-content-center align-items-center">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div class="card card-150 p-2" style="margin-top: 12px">
							<div class="chart-title text-center">
								<h6>Top nhân viên tương tác nhiều trong ngày</h6>
							</div>
							<div class="time-chart pt-1 d-flex">
								<div
									class="user-interaction"
									v-for="(item, index) in topUserInteraction"
									:key="index"
								>
									<b-img rounded="circle" thumbnail fluid :src="item.user.profile.picture" />
									<div class="rank-badget">{{ index + 1 }}</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 mt-4">
						<div v-if="customerInteractionRecentlyLoading" class="card d-flex justify-content-center align-items-center">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div class="card p-2">
							<div class="container-fluid">
								<div class="row">
									<div class="col-12 col-lg-8 mt-2 mb-2">
										<div class="chart-title text-center">
											<h6>Thống kê tương tác khách hàng 6 tháng gần đây</h6>
										</div>
										<div class="time-chart pt-1">
											<BarChart
												:height="260"
												:chart-data.sync="customerInteractionChartData"
												:options="{
													responsive: true,
													maintainAspectRatio: false,
													layout: {
														padding: 0
													},
													scales: {
														yAxes: [{
															stacked: true
														}],
														xAxes: [{
															stacked: true,
															gridLines: {
																display: false
															}
														}]
													}
												}"
											/>
										</div>
									</div>
									<div class="col-12 col-lg-4 mt-2 mb-2">
										<div class="time-chart pt-1">
											<PieChart
												:height="260"
												:chart-data.sync="customerInteractionPieChartData"
												:options="{
													responsive: true,
													maintainAspectRatio: false,
													layout: {
														padding: 0
													}
												}"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 mt-4">
						<div v-if="newStatisticsLoading" class="card d-flex justify-content-center align-items-center">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div class="card">
							<div class="container-fluild">
								<div class="row">
									<div class="col-3">
										<div v-if="newStatistics !== null" class="card-label-list">
											<div
												class="label-item"
												:class="newDataLabels.label1 ? 'label1' : ''"
												@click="handleClickNewDateLabel('label1')"
											>
												<div class="label-title">SỐ ĐIỆN THOẠI MỚI</div>
												<div class="label-value">{{ newStatistics.phone[newStatistics.labels.length - 1] }}</div>
											</div>
											<div
												class="label-item"
												:class="newDataLabels.label2 ? 'label2' : ''"
												@click="handleClickNewDateLabel('label2')"
											>
												<div class="label-title">TIN NHẮN MỚI</div>
												<div class="label-value">{{ newStatistics.conversations[newStatistics.labels.length - 1] }}</div>
											</div>
											<div
												class="label-item"
												:class="newDataLabels.label3 ? 'label3' : ''"
												@click="handleClickNewDateLabel('label3')"
											>
												<div class="label-title">SỐ KHÁCH CŨ TƯƠNG TÁC LẠI</div>
												<div class="label-value">{{ newStatistics.oldContactInteraction[newStatistics.labels.length - 1] }}</div>
											</div>
											<div
												class="label-item"
												:class="newDataLabels.label4 ? 'label4' : ''"
												@click="handleClickNewDateLabel('label4')"
											>
												<div class="label-title">KHÁCH HÀNG MỚI</div>
												<div class="label-value">{{ newStatistics.newContact[newStatistics.labels.length - 1] }}</div>
											</div>
										</div>
									</div>
									<div class="col-9">
										<div class="chart">
											<LineChart
												:height="260"
												:chart-data.sync="newStatisticChartData"
												:options="{
													responsive: true,
													maintainAspectRatio: false,
													layout: {
														padding: 0
													},
													legend: {
														display: false
													},
													scales: {
														xAxes: [{
															gridLines: {
																display: false
															}
														}]
													}
												}"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 mt-4">
						<div class="container-fluild">
							<div class="row">
								<div class="col-12 col-lg-8">
									<div class="card card-412 use-tag">
										<div class="title w-100 d-flex align-items-center justify-content-center">
											Thẻ hội thoại sử dụng trong ngày
										</div>
										<div class="content">
											<img alt="empty" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNDEiIHZpZXdCb3g9IjAgMCA2NCA0MSIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxKSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxlbGxpcHNlIGZpbGw9IiNGNUY1RjUiIGN4PSIzMiIgY3k9IjMzIiByeD0iMzIiIHJ5PSI3Ii8+CiAgICA8ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0iI0Q5RDlEOSI+CiAgICAgIDxwYXRoIGQ9Ik01NSAxMi43Nkw0NC44NTQgMS4yNThDNDQuMzY3LjQ3NCA0My42NTYgMCA0Mi45MDcgMEgyMS4wOTNjLS43NDkgMC0xLjQ2LjQ3NC0xLjk0NyAxLjI1N0w5IDEyLjc2MVYyMmg0NnYtOS4yNHoiLz4KICAgICAgPHBhdGggZD0iTTQxLjYxMyAxNS45MzFjMC0xLjYwNS45OTQtMi45MyAyLjIyNy0yLjkzMUg1NXYxOC4xMzdDNTUgMzMuMjYgNTMuNjggMzUgNTIuMDUgMzVoLTQwLjFDMTAuMzIgMzUgOSAzMy4yNTkgOSAzMS4xMzdWMTNoMTEuMTZjMS4yMzMgMCAyLjIyNyAxLjMyMyAyLjIyNyAyLjkyOHYuMDIyYzAgMS42MDUgMS4wMDUgMi45MDEgMi4yMzcgMi45MDFoMTQuNzUyYzEuMjMyIDAgMi4yMzctMS4zMDggMi4yMzctMi45MTN2LS4wMDd6IiBmaWxsPSIjRkFGQUZBIi8+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K">
											<div style="color: rgba(0, 0, 0, 0.45)">Trống</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-lg-4 pl-0">
									<div class="card card-412 top-tag">
										<div class="title w-100 d-flex align-items-center justify-content-center">
											Top 10 thẻ được gắn trong ngày
										</div>
										<div class="content">
											<img alt="empty" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNDEiIHZpZXdCb3g9IjAgMCA2NCA0MSIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxKSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxlbGxpcHNlIGZpbGw9IiNGNUY1RjUiIGN4PSIzMiIgY3k9IjMzIiByeD0iMzIiIHJ5PSI3Ii8+CiAgICA8ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0iI0Q5RDlEOSI+CiAgICAgIDxwYXRoIGQ9Ik01NSAxMi43Nkw0NC44NTQgMS4yNThDNDQuMzY3LjQ3NCA0My42NTYgMCA0Mi45MDcgMEgyMS4wOTNjLS43NDkgMC0xLjQ2LjQ3NC0xLjk0NyAxLjI1N0w5IDEyLjc2MVYyMmg0NnYtOS4yNHoiLz4KICAgICAgPHBhdGggZD0iTTQxLjYxMyAxNS45MzFjMC0xLjYwNS45OTQtMi45MyAyLjIyNy0yLjkzMUg1NXYxOC4xMzdDNTUgMzMuMjYgNTMuNjggMzUgNTIuMDUgMzVoLTQwLjFDMTAuMzIgMzUgOSAzMy4yNTkgOSAzMS4xMzdWMTNoMTEuMTZjMS4yMzMgMCAyLjIyNyAxLjMyMyAyLjIyNyAyLjkyOHYuMDIyYzAgMS42MDUgMS4wMDUgMi45MDEgMi4yMzcgMi45MDFoMTQuNzUyYzEuMjMyIDAgMi4yMzctMS4zMDggMi4yMzctMi45MTN2LS4wMDd6IiBmaWxsPSIjRkFGQUZBIi8+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K">
											<div style="color: rgba(0, 0, 0, 0.45)">Trống</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import _ from "lodash"
import moment from "moment";
import { mapActions, mapGetters } from 'vuex'

import LineChart from "./components/LineChart"
import BarChart from "./components/BarChart"
import PieChart from "./components/PieChart"
import ScatterChart from "./components/ScatterChart"

export default {
	components: {
		LineChart,
		BarChart,
		PieChart,
		ScatterChart
	},

	data() {
		return {
			page: 'overview',
			pageIds: [],
			recentlyMessageChartData: null,
			recentlyContactChartData: null,
			messageAndCommentChartData: null,
			customerInteractionChartData: null,
			customerInteractionPieChartData: null,
			newDataLabels: {
				label1: true,
				label2: true,
				label3: true,
				label4: true
			},
			overviewLoading: false,
			recentlyMessageAndContactCountLoading: false,
			messageAndCommentTodayCountLoading: false,
			topUserInteractionLoading: false,
			customerInteractionRecentlyLoading: false,
			newStatisticsLoading: false
		}
	},

	computed: {
		...mapGetters("statistics", {
			overview: "overview",
			recentlyMessageAndContactCount: "recentlyMessageAndContactCount",
			messageAndCommentTodayCount: "messageAndCommentTodayCount",
			topUserInteraction: "topUserInteraction",
			customerInteractionRecently: "customerInteractionRecently",
			newStatistics: "newStatistics"
		}),

		newStatisticChartData: function() {
			if (!this.newStatistics) {
				return {}
			}

			const config = {
				label1: ['phone', 'Số điện thoại mới', "rgba(196, 255, 248, 0.23)", "rgb(43, 216, 196)"],
				label2: ['conversations', 'Số tin nhắn mới', "rgba(46, 152, 253, 0.1)", "rgb(46, 152, 253)"],
				label3: ['oldContactInteraction', 'Số khách hàng cũ tương tác', "rgba(129, 106, 247, 0.11)", "rgba(129, 106, 247, 1)"],
				label4: ['newContact', 'Khách hàng mới', "rgba(255, 78, 3, 0.09)", "rgba(255, 145, 3, 1)"]
			}

			const chartData = {
				labels: this.newStatistics.labels,
				datasets: []
			}

			Object.keys(this.newDataLabels).forEach(label => {
				if (this.newDataLabels[label]) {
					chartData.datasets.push({
						data: this.newStatistics[config[label][0]],
						label: config[label][1],
						backgroundColor: config[label][2],
						borderColor: config[label][3]
					})
				}
			});

			return chartData;
		}
	},

	watch: {
		$route: {
			handler: function(val) {
				if (val && val.params && val.params.item) {
					this.pageIds = this.$route.params.item.split('&')

					this.initAll(this.pageIds)
				}
			},
			immediate: true,
			deep: true
		}
	},

	created() {},

	methods: {
		handleClickNewDateLabel(label) {
			this.newDataLabels[label] = !this.newDataLabels[label]
		},

		...mapActions("statistics", {
			getOverviewData: "getOverviewData",
			getRecentlyMessageAndContactCount: "getRecentlyMessageAndContactCount",
			getMessageAndCommentByDate: "getMessageAndCommentByDate",
			getTopUserInteraction: "getTopUserInteraction",
			getCustomerInteractionRecently: "getCustomerInteractionRecently",
			getNewStatistics: "getNewStatistics",
			reset: "reset"
		}),

		initAll() {
			this.reset({ pageIds: this.pageIds })
				.then(reset => {
					if (reset) {
						this.initOverview(this.pageIds)
						this.initRecentlyMessageAndContactCount(this.pageIds)
						this.initMessageAndCommentByDate(this.pageIds)
						this.initTopUserInteraction(this.pageIds)
						this.initCustomerInteractionRecently(this.pageIds)
						this.initNewStatistics(this.pageIds)
					} else {
						this.setRecentlyMessageAndContactCount()
						this.setMessageAndCommentByDate()
						this.setCustomerInteractionRecently()
					}
				});
		},

		initNewStatistics(pageIds) {
			this.newStatisticsLoading = true
			this
				.getNewStatistics({
					pageIds
				})
				.then(() => {
					this.newStatisticsLoading = false
				})
		},

		initOverview(pageIds) {
			this.overviewLoading = true;
			this
				.getOverviewData({
					pageIds
				})
				.then(() => {
					this.overviewLoading = false
				})
		},

		initRecentlyMessageAndContactCount(pageIds) {
			this.recentlyMessageAndContactCountLoading = true;
			this
				.getRecentlyMessageAndContactCount({
					pageIds
				})
				.then(() => {
					this.setRecentlyMessageAndContactCount()
					this.recentlyMessageAndContactCountLoading = false
				});
		},

		setRecentlyMessageAndContactCount() {
			this.$set(this, 'recentlyMessageChartData', {
				labels: this.recentlyMessageAndContactCount.labels,
				datasets: [
					{
						borderColor: '#2f4b7c',
						pointRadius: 0,
						borderWidth: 1,
						fill: false,
						data: this.recentlyMessageAndContactCount.messageCounts
					}
				]
			})

			this.$set(this, 'recentlyContactChartData', {
				labels: this.recentlyMessageAndContactCount.labels,
				datasets: [
					{
						borderColor: '#2f4b7c',
						pointRadius: 0,
						borderWidth: 1,
						fill: false,
						data: this.recentlyMessageAndContactCount.contactCounts
					}
				]
			})
		},

		initMessageAndCommentByDate(pageIds) {
			this.messageAndCommentTodayCountLoading = true

			this
				.getMessageAndCommentByDate({
					pageIds
				})
				.then(data => {
					this.setMessageAndCommentByDate();
					this.messageAndCommentTodayCountLoading = false
				})
		},

		setMessageAndCommentByDate() {
			this.$set(this, 'messageAndCommentChartData', {
				labels: this.messageAndCommentTodayCount.labels,
				datasets: [
					{
						label: 'Hộp thư và Bình luận',
						backgroundColor: '#e67f83',
						data: this.messageAndCommentTodayCount.messageAndCommentCounts
					}
				]
			})
		},

		initTopUserInteraction(pageIds) {
			this.topUserInteractionLoading = true
			this
				.getTopUserInteraction({
					pageIds
				})
				.then(data => {
					this.topUserInteractionLoading = false
				})
		},

		initCustomerInteractionRecently(pageIds) {
			this.customerInteractionRecentlyLoading = true
			this
				.getCustomerInteractionRecently({
					pageIds
				})
				.then(() => {
					this.setCustomerInteractionRecently()
					this.customerInteractionRecentlyLoading = false
				})
		},

		setCustomerInteractionRecently() {
			this.$set(this, 'customerInteractionChartData', {
				labels: this.customerInteractionRecently.labels,
				datasets: [
					{
						label: 'Hộp thư',
						backgroundColor: '#2f4b7c',
						data: this.customerInteractionRecently.messageCounts
					},
					{
						label: 'Bình luận',
						backgroundColor: '#ffa600',
						data: this.customerInteractionRecently.commentCounts
					}
				]
			})

			let commentCounts = 0
			let messageCounts = 0
			this.customerInteractionRecently.commentCounts.forEach((commentCount, index) => {
				commentCounts += commentCount
				messageCounts += this.customerInteractionRecently.messageCounts[index]
			})
			this.$set(this, 'customerInteractionPieChartData', {
				labels: ['Hộp thư', 'Bình luận'],
				datasets: [
					{
						data: [messageCounts, commentCounts],
						backgroundColor: ['#2f4b7c', '#ffa600']
					}
				]
			})
		},

		get(obj, path, defaultValue) {
			return _.get(obj, path) || defaultValue || 0
		}
	}
}
</script>

<style lang="scss">
.overview {
	.card {
		border: 1px solid #e0e0e0;
		border-radius: 10px;
		box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
	}

	.card-312 {
		height: 312px;
	}

	.card-150 {
		height: 150px;
	}

	.card-412 {
		height: 412px;
	}

	.card-title {
		font-size: 12px;
	}

	.numberer {
		font-size: 24px;
	}

	.list-numberer {
		font-size: 12px;

		.item-val {
			color: #6fc697;
		}
	}

	.time-chart {
		width: 100%;
		position: relative;
	}

	.user-interaction {
		padding-top: 12px;
		width: 25%;
		padding: 10px;
		position: relative;

		.rank-badget {
			font-size: 16px;
			font-weight: bold;
			position: absolute;
			right: 10px;
			bottom: 10px;
			width: 24px;
			height: 24px;
			background: #ff6361;
			color: white;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.chart {
		width: 100%;
		position: relative;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-right: 24px;
	}

	.top-tag, .use-tag {
		.title {
			font-weight: bold;
			height: 36px;
			border-bottom: 1px solid #e8e8e8;
		}

		.content {
			height: 376px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
</style>
