<!--<template lang="pug">
	.container
		.profile.flex.row.align-stretch
			img.avatar(:src="profile.avatar")

			.details.flex-item-1
				.name {{ profile.fullName }}
					span.text-muted.username ({{ profile.username }})

				.tags
					.tag.primary !Role name!
					.tag.danger !Administrator!
					.tag.success !Online!

				.description
					.info-row(v-if="profile.profile && profile.profile.location")
						i.fa.fa-map-marker
						span.caption Location:
						span.value {{ profile.profile.location }}

					.info-row
						i.fa.fa-clock-o
						span.caption Last login:
						span.value !Online!
					.info-row
						i.fa.fa-calendar
						span.caption Joined:
						span.value {{ profile.createdAt | ago }}

				hr.full
		pre(v-html="this.$options.filters.prettyJSON(profile)")

</template>-->
<template>
	<!-- <div class="container-fluid">
	<div class="profile flex row align-stretch">
	<img class="avatar" :src="profile.avatar"/>
	<div class="details flex-item-1">
	<div class="name">{{ profile.fullName }}
	<span class="text-muted username">({{ profile.username }})</span>
	</div>
	<div class="tags">
	<div class="tag primary">!Role name!</div>
	<div class="tag danger">!Administrator!</div>
	<div class="tag success">!Online!</div>
	</div>
	<div class="description">
	<div class="info-row" v-if="profile.profile &amp;&amp; profile.profile.location">
	<i class="fa fa-map-marker"></i>
	<span class="caption">Location:</span>
	<span class="value">{{ profile.profile.location }}</span>
	</div>
	<div class="info-row">
	<i class="fa fa-clock-o"></i>
	<span class="caption">Last login:</span>
	<span class="value">!Online!</span>
	</div>
	<div class="info-row">
	<i class="fa fa-calendar"></i>
	<span class="caption">Joined:</span>
	<span class="value">{{ profile.createdAt | ago }}							</span>
	</div>
	</div>
	<hr class="full"/>
	</div>
	</div>
	<pre v-html="this.$options.filters.prettyJSON(profile)"></pre>
	</div> -->
	<div class="container">
		<b-tabs no-body>
			<b-tab :title="_('GenenalSettings')">
				<div style="padding: 0px 10px 5px;">
					<div class="w-100">
						<div>
							<div style="margin: 24px 0px 20px; width: 100%; text-align: center; color: rgb(102, 102, 102); line-height: 0.1em; font-size: 16px; font-weight: 500; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;">
								<span style="padding: 0px 15px; background-color: rgb(255, 255, 255);">Thông tin tài khoản</span>
							</div>
							<div  class="row">
								<div class="col-md-3 col-xs-6" style="margin-left: 4%;">
									<div class="LazyLoad is-visible" style="width: 250px; height: 250px;">
										<a class="thumbnail" href="https://facebook.com/101916407278763">
											<img :alt="profile.fullName" :src="profile.avatar" class="w-100">
										</a>
									</div>
								</div>
								<div class="col-md-8 col-xs-12" style="font-size: 15px;">
									<b style="display: inline-block;">Tên khách hàng:  </b>
									<b style="display: inline-block; float: right;">{{ profile.fullName }}</b>
									<hr style="margin-top: 10px; margin-bottom: 10px;">
									<b style="display: inline-block;">Facebook ID:  </b>
									<b style="display: inline-block; float: right;">{{ profile.socialLinks ? profile.socialLinks.facebook : '' }}</b>
									<hr style="margin-top: 10px; margin-bottom: 10px;">
									<b style="display: inline-block;">Email:  </b>
									<b style="display: inline-block; float: right;">{{ profile.email }}</b>
									<hr style="margin-top: 10px; margin-bottom: 10px;">
									<b style="display: inline-block;">Đăng ký từ:  </b>
									<b style="display: inline-block; float: right;">{{ $Utils.formatDateTime(profile.createdAt, 'DD/MM/YYYY HH:mm') }}</b>
									<hr style="margin-top: 10px; margin-bottom: 10px;">
									<b style="display: inline-block;">Ngôn ngữ:  </b>
									<b style="display: inline-block; float: right;">
										<!-- <select class="custom-select" id="inputGroupSelect01" v-model="lang" @change="changeLang(lang)">
											<option value="vi" selected>Tiếng Việt</option>
											<option value="en">English</option>
										</select> -->
										<b-button-group>
										    <b-button class="clear-outline" :variant="lang === 'vi' ? 'success' : 'danger'" @click="changeLang('vi')">Tiếng Việt</b-button>
										    <b-button class="clear-outline" :variant="lang === 'en' ? 'success' : 'danger'" @click="changeLang('en')">English</b-button>
										</b-button-group>
									</b>
								</div>
							</div>
						</div>
					</div>
				</div>
			</b-tab>
		</b-tabs>
	</div>
</template>
<script>
	import Vue from "vue";
	import Service from "../../core/service";
	import i18next from "i18next";
	import { mapGetters, mapActions } from "vuex";
	import { Switch } from "element-ui";
	Vue.use(Switch);
	export default {
		computed: mapGetters("profile", [
			"profile"
		]),

		methods: {
			...mapActions("profile", [
				"getProfile"

			]),
			...mapActions("session", [
				"getOnlineUsers"

			]),

			 changeLang(lang) {
		 		i18next.changeLanguage(lang, (err, t) => {
		 			if (err) return console.log('something went wrong loading', err);
		 			this.lang = lang;
		 			localStorage.setItem("i18nextLng", lang);
				});
			 }

		},
		data() {
		    return {
		    	lang: localStorage.i18nextLng ? localStorage.i18nextLng : 'vi',
		    	arrBank: [
		    		{Bank: 'VietinBank', AccountName: 'Nguyễn Văn Ân', AccountNumber: '213715283', Branch: 'Hoàng Văn Thụ'},
		    		{Bank: 'SacomBank', AccountName: 'Nguyễn Thị Bá', AccountNumber: '298126926', Branch: 'Cầu Giấy'},
		    	]
		    }
		},

		created() {
			this.getProfile();
			this.getOnlineUsers().then(users=>{
				console.log(users);
			}).catch(err=>{
				console.log("error get online users", err);
			})
		}
	};

</script>

<style lang="scss" scoped>
	.tabs {
		.nav-tabs {
			 margin-bottom: 14px !important;
		}
		.thumbnail {
		    display: block;
		    padding: 4px;
		    margin-bottom: 22px;
		    line-height: 1.6;
		    background-color: #f5f8fa;
		    border: 1px solid #ddd;
		    border-radius: 4px;
		    -webkit-transition: border 0.2s ease-in-out;
		    -webkit-transition: border 0.2s ease-in-out;
		    transition: border 0.2s ease-in-out;
		}
	}

	.clear-outline:focus {
	  outline: none;
	  box-shadow: none;
	}




</style>
