<!--<template lang="pug">
	.messages-dropdown(:class="{ 'visible': visible }")
		.panel
			.header
				.left {{ "Messages" | i18n }}
				.right
					a.link(href="#")
						small {{ "MarkAllAsRead" | i18n }}
			.body
				.list
					.item
						img.avatar(src="https://s3.amazonaws.com/uifaces/faces/twitter/dustin/73.jpg")
						.body
							strong Message title
								small.text-muted John Doe
							p.text-justify Cupidatat eiusmod commodo excepteur velit magna. Aliqua eu tempor officia officia et ipsum magna sint cillum Lorem reprehenderit.
						.footer.text-right
							small.text-muted 1 min ago
					.item
						img.avatar(src="https://s3.amazonaws.com/uifaces/faces/twitter/connor_gaunt/73.jpg")
						.body
							strong Message title
								small.text-muted John Doe
							p.text-justify Laborum laboris nulla nisi labore.
						.footer.text-right
							small.text-muted 3 min ago

			.footer.text-center
				a.link(href="#") {{ "SeeAllMessages" | i18n }}
</template>-->
<template>
	<div class="messages-dropdown" :class="{ 'visible': visible }">
		<div class="panel">
			<div class="header">
				<div class="left">{{ "Messages" | i18n }}</div>
				<div class="right">
					<a class="link" @click="markAllMessageAsRead(true)">
						<small>{{ "MarkAllAsRead" | i18n }}</small>
					</a>
				</div>
			</div>
			<div class="body">
				<div class="list">
					<div class="item" v-for="msg in messages">
						<img class="avatar" :src="msg.sender ? 'https://graph.facebook.com/'+msg.sender.id+'/picture' : ''"/>
						<img class="avatar" :src="msg.sender ? 'https://graph.facebook.com/'+msg.recipient.id+'/picture' : ''"/>
						<div class="body">
							<strong>{{msg.recipient.id}}
								<small class="text-muted">{{msg.sender.name}}</small>
							</strong>
							<p class="text-justify">{{msg.message.text}}</p>							
						</div>
						<div class="footer text-right">
							<small class="text-muted">{{msg.timeStemp | ago}}</small>
						</div>
					</div>
					<!-- <div class="item">
						<img class="avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/connor_gaunt/73.jpg"/>
						<div class="body">
							<strong>Message title
								<small class="text-muted">John Doe</small>
							</strong>
							<p class="text-justify">Laborum laboris nulla nisi labore.</p>
						</div>
						<div class="footer text-right">
							<small class="text-muted">3 min ago</small>
						</div>
					</div> -->
				</div>
			</div>
			<div class="footer text-center">
				<a class="link" href="#">{{ "SeeAllMessages" | i18n }}</a>
			</div>
		</div>
	</div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["visible"],
  data(){
	  return {
	 
	  }
  },
  computed: {	
  ...mapGetters("session", [
				"me",
				"messages"				 
			]),
  },
  methods:{
	  ...mapActions("profile", ["getProfile"]),
	  ...mapActions("session", [
      "getSessionUser",
      "addMessage",
      "addNotification",
	  "searching",
	  "markAllMessageAsRead"
    ]),
  }, 
  // socket: {
  //   prefix: "/messages/",

  //   events: {
  //     created(res) {
  //       console.log("messages ", res);
  //       // if (this.conversation.id) {
  //       //   let msg = res.message.message;
  //       //   let model = [
  //       //     "/" + this.conversation.id + "/messages",
  //       //     "GET",
  //       //     {
  //       //       access_token: this.ptoken,
  //       //       fields: "from,message,created_time,to"
  //       //     }
  //       //   ];
  //       //   this.searchMessage(model).then(data => {
  //       //     console.log("messages  ", cloneDeep(data));

  //       //     let findmsg = find(data.data, mg => {
  //       //       return mg.id == msg.mid || mg.id == "m_" + msg.mid;
  //       //     });
  //       //     if (findmsg) {
  //       //       console.log("findmsg ", findmsg);
  //       //       this.conversation.messages.data.push(findmsg);
  //       //     }
  //       //   });

           
  //       // }
         
  //     }
  //   }
  // }
};
</script>

<style lang="scss">
</style>
