
<template>
<!-- 	<div class="notification-dropdown" :class="{ 'visible': visible }">
		<div class="panel">
			<div class="header">
				<div class="left">{{ "Notifications" | i18n }}</div>
				<div class="right">
					<a class="link" @click="markAllAsRead">
						<small>{{ "MarkAllAsRead" | i18n }}</small>
					</a>
				</div>
			</div>
			<div class="body">
				<div class="list">
					<div class="item" v-for="noti in notifications">
						<img class="avatar" :src="noti.user ? noti.user.avatar ? noti.user.avatar : '' : ''"/>
						<div class="body">
							<p class="text-justify">
								<strong>{{noti.fullName}}</strong>{{noti.text}}
							</p>
						</div>
						<div class="footer text-right">
							<small class="text-muted">{{noti.time | ago(noti.time)}}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="footer text-center">
				<a class="link" href="#">{{ "SeeAllNotifications" | i18n }}</a>
			</div>
		</div>
		<b-modal ref="facebookModalWarning" hide-footer centered class="text-center"
				 :title="_('Warning')" :no-close-on-backdrop="true" size="sm">
			<span>{{_('FacebookTokenExpired')}}</span>
			<span>{{_('ClickToRenew')}}
			<a class="btn-link" href="/auth/facebook">{{_('Here')}}</a> {{_('ToContinue')}}
		</span>
		</b-modal>
	</div> -->
	<div class="notification-content"  :class="{ 'visible': visible }">
       <div style="max-height:calc(100vh - 200px);overflow-y:auto;" v-if="notifications.length == 0">
          <div >Chưa có thông báo nào</div>
       </div>
       <div style="max-height: calc(100vh - 200px); overflow-y: auto;" v-else>
		   <div  v-for="noti in notifications">
		      <div>
		         	<img class="avatar" :src="noti.user ? noti.user.avatar ? noti.user.avatar : '' : ''"/>
					<div class="body">
						<p class="text-justify">
							<strong>{{noti.fullName}}</strong>{{noti.text}}
						</p>
					</div>
					<div class="footer text-right">
						<small class="text-muted">{{noti.time | ago(noti.time)}}</small>
					</div>
		         <hr style="margin: 10px;">
		      </div>
		   </div>
		</div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["visible"],
  data() {
    return {
      limit: 10,
      unread: 10
    };
  },
  computed: {
    ...mapGetters("session", ["me", "notifications"])
  },
  methods: {
    ...mapActions("profile", ["getProfile"]),
    ...mapActions("session", [
      "getSessionUser",
      "addMessage",
      "addNotification",
      "searching",
      "markAllAsRead"
    ])
  },
  watch: {
    notifications: function(newVal, oldVal) {
      console.log(newVal, oldVal);
    }
	},
	created(){
		// this.$service = new Service("notificaiton", this);
	},
  // socket: {
  //   prefix: "/notifications/",
  //   events: {
  //     created(res) {
		// 		console.log("notifications hook", res);
		// 		console.log(res.data.for)
		// 		console.log(this.me.id)
  //       if (res.data.for && res.data.for.indexOf(this.me.id) > -1) {
  //         if (res.data.type === "messaging") {
  //           this.addMessage(res.data);
  //         } else {
  //           this.addNotification(res.data);
  //         }
  //       }
		// 	},

  //   }
  // },
  mounted() {
		this.$hub.$on("created", (res) =>{
			// console.log("notifications hook", res);
			// console.log(res.for)
			// console.log(this.me.id)
			if (res.for && res.for.indexOf(this.me.id) > -1) {
				if (res.type === "messaging") {
					this.addMessage(res);
				} else {
					this.addNotification(res);
				}
			}
		})
	},
	destroyed() {
	    this.$hub.$off("created");
	}
};
</script>

<style lang="scss">
.notification-content {
	line-height:34px;
}
</style>
