<template>
	<div class="container-fluid">
	<h2 class="title">{{ _('Pages') }}</h2>
	<div class="header flex row justify-space-between">
		<div class="group sort">
			<a class="link" @click="changeViewMode('my')" :class="{ active: viewMode == 'my' }">{{ _("myOwnPages") }}</a>
			<a class="link" @click="changeViewMode('all')" :class="{ active: viewMode == 'all' }">{{ _("myAccessPages") }}</a>
			<a class="link" @click="loadPages()" :class="{ active: sort == '-createdAt' }">{{ _("All") }}</a>
			<!-- <a class="link" @click="changeSort('-createdAt')" :class="{ active: sort == '-createdAt' }">{{ _("New") }}</a> -->
		</div>
		<!-- <button class="button primary" @click="newPost"><span class="icon"><i class="fa fa-plus"></i></span><span>{{ _("NewPost") }}</span></button> -->
		<div class="group filter">
			<a class="link" :class="{ active: viewMode == 'all' }">{{ _("Allpages") }}({{pages.length}})</a>
			<a class="link" :class="{ active: viewMode == 'my' }">{{ _("SearchResults") }}({{filteredOrderedRows.length}})</a>
		</div>
	</div>
	<div class="postForm" v-if="showForm">
		<vue-form-generator :schema="schema" :model="model" :options="{}" :multiple="false" ref="form" :is-new-model="isNewPost"></vue-form-generator>
		<div class="group buttons">
			<button class="button primary" @click="savePost">{{ _("Save") }}</button>
			<button class="button" @click="cancelPost">{{ _("Cancel") }}</button>
		</div>
	</div>
	<transition-group class="posts" name="post" tag="ul">
		<li v-if="post.is_owned" v-for="post of filteredOrderedRows" :key="post.id">
			<article class="media">
				<div class="media-left">
					<img class="avatar" :src="'https://graph.facebook.com/'+(post.fb_id?post.fb_id : post.id)+'/picture'"/>
					<div class="votes" :class="{ voted: iVoted(post) }">
						<div class="count text-center">{{ post.votes }}</div>
						<div class="thumb text-center" @click="toggleVote(post)">
							<i class="fa fa-thumbs-o-up"></i>
						</div>
					</div>
				</div>
				<div class="media-content">
					<router-link :to="'/message/'+(post.fb_id || post.id)" >
						<h3>{{ post.name }}</h3>
					</router-link>
					<p class="content" >{{post.about}}</p>
					<!-- <p class="content" >{{post.link}}</p> -->
					<hr class="full"/>
					<div class="">
						<div class="functions left">
							<!-- <a :title="_('EditPost')" @click="editPost(post)"> -->
							<router-link :to="'/conversations/'+post.id" >
								<i class="fa fa-comments-o"></i>
							</router-link>
							<!-- </a> -->
							<router-link :to="'/posts/'+post.id" >
								<i class="fa fa-pencil"></i>
							</router-link>
							<!-- </a> -->
							<a :href="post.link" target="_blank" :title="_('LinkPage')" >
								<i class="fa fa-facebook"></i>
							</a>
							<!-- <a :title="_('DeletePost')" @click="deletePost(post)">
								<i class="fa fa-trash"></i>
							</a> -->
						</div>
						<div class="voters left" :title="_('Voters')">
							<!-- <template v-for="voter in lastVoters(post)"><img :src="voter.avatar" :title="voter.fullName + ' (' + voter.username + ')'"/></template> -->
						</div>
						<div
	class="right text-right">
							<template v-if="post.editedAt">
								<small class="text-muted">{{ editedAgo(post) }}</small>
								<br/>
							</template>
							<!-- <small class="text-muted">{{ createdAgo(post) }}</small> -->
						</div>
					</div>
				</div>
			</article>
		</li>
	</transition-group>
	<div class="loadMore text-center" v-if="hasMore">
		<button class="button outline" @click="loadPages(true)" :class="{ 'loading': fetching }">{{ _("LoadMore") }}</button>
	</div>
	<div class="noMore text-center" v-if="!hasMore">
		<span class="text-muted">{{_('NoMoreItem')}}</span>
	</div>
	<hr/>
</div>
</template>
<script>
	import Vue from "vue";
	import marked from "marked";
	import toast from "../../core/toastr";	 
	import { validators, schema as schemaUtils } from "vue-form-generator";
	import { mapGetters, mapActions } from "vuex";
	import {camelCase ,each, isObject, isArray, isFunction, isNil,  isString, defaults, orderBy, includes, get, cloneDeep} from "lodash";
	//const PAGEID = '2004874763077886'
	function searchInObject(obj, text) {
		text = text.toLowerCase();
		let values = Object.values(obj);
		let res = values.filter(val => {
			if (isObject(val)) {
				return searchInObject(val, text);
			} else if (isArray(val)) {
				return val.filter(item => searchInObject(item, text));
			} else if (isString(val)) {
				return val.toLowerCase().indexOf(text) != -1;
			}
		});
		return res.length > 0;
	}
	export default {

		computed: {
			...mapGetters("session", {
				search: "searchText"
			}),
			filteredOrderedRows() {
				let items = this.pages;
				if (this.search) {
					let search = this.search.toLowerCase();
					items = this.pages.filter(function (row) {
						return searchInObject(row, search);
					});
				}
				//orderBy(items, this.order.field, this.order.direction == 1 ? "asc" : "desc");
				return items;
			},
			...mapGetters("pages", [
				"pages",
				"paging",
				"hasMore",
				"fetching",
				"sort",
				"viewMode"
			]),
			...mapGetters("session", [
				"me"
			])
		},

		/**
		 * Set page schema as data property
		 */
		data() {
			return {
				ptoken : null,
				//pageId : PAGEID,
				showForm: false,
				isNewPost: false,
				model: null,
				schema: {
					fields: [
						{
							type: "text",
							label: this._("Title"),
							model: "title",
							featured: true,
							required: true,
							placeholder: this._("TitleOfConversation"),
							validator: validators.string
						},
						{
							type: "textArea",
							label: this._("Content"),
							model: "content",
							featured: true,
							required: true,
							rows: 10,
							placeholder: this._("ContentOfConversation"),
							validator: validators.string
						}
					]
				}
			};
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		socket: {

			prefix: "/pages/",

			namespace:"/pages",

			events: {
				created(res) {
					//this.created(res.data);
					//toast.success(this._("ConversationNameAdded", res), this._("ConversationAdded"));
					console.log("page saved call back to socket ", res)
				},
				conversationloaded(res){
					console.log("conversationloaded ", res)
				},
				/**
				 * New device added
				 * @param  {Object} res Device object
				 */
				/*
				We don't use it because we don't know we need to add it to the page (filter, sort..etc)
				created(res) {
					this.created(res.data);
					toast.success(this._("ConversationNameAdded", res), this._("ConversationAdded"));
				},*/

				/**
				 * Post updated
				 * @param  {Object} res Conversation object
				 */
				updated(res) {
					this.updated(res.data);
					toast.success(this._("ConversationNameUpdated", res), this._("ConversationUpdated"));
				},

				voted(res) {
					this.updated(res.data);
					toast.success(this._("ConversationNameVoted", res), this._("ConversationUpdated"));
				},

				unvoted(res) {
					this.updated(res.data);
					toast.success(this._("ConversationNameUnvoted", res), this._("ConversationUpdated"));
				},

				/**
				 * Conversation removed
				 * @param  {Object} res Conversation object
				 */
				removed(res) {
					this.removed(res.data);
					toast.success(this._("ConversationNameDeleted", res), this._("ConversationDeleted"));
				}
			}
		},

		methods: {
			...mapActions("pages", [
				"fb",
				"query",
				"fbPages",
				"getRows",
				"loadMoreRows",
				"changeSort",
				"changeViewMode",
				"vote",
				"unVote",
				"saveRow",
				"updateRow",
				"removeRow",
				"updated",
				"removed"
			]),

			markdown(content) {
				return marked(content);
			},

			iVoted(post) {
				return _.find(post.voters, (user) => user.code == this.me.code) != null;
			},

			toggleVote(post) {
				if (this.iVoted(post))
					this.unVote(post);
				else
					this.vote(post);
			},

			lastVoters(post, count = 5) {
				if (post.voters && post.voters.length > 0) {
					let voters = _.clone(post.voters).reverse().slice(0, 5);
					return voters;
				}
				return [];
			},

			createdAgo(post) {
				return this._("CreatedAgoByName", { ago: Vue.filter("ago")(post.createdAt), name: post.author.fullName } );
			},

			editedAgo(post) {
				if (post.editedAt)
					return this._("EditedAgo", { ago: Vue.filter("ago")(post.editedAt) } );
			},

			newPost() {
				this.model = schemaUtils.createDefaultObject(this.schema);
				this.showForm = true;
				this.isNewPost = true;

				this.focusFirstInput();
			},

			editPost(post) {
				// this.model = cloneDeep(post);
				// this.showForm = true;
				// this.isNewPost = false;
				// this.focusFirstInput();

			},

			focusFirstInput() {
				this.$nextTick(() => {
					let el = document.querySelector(".conversationForm .form-control:nth-child(1):not([readonly]):not(:disabled)");
					if (el)
						el.focus();
				});
			},

			focusFirstErrorInput() {
				this.$nextTick(() => {
					let el = document.querySelector(".conversationForm .form-group.error .form-control");
					if (el)
						el.focus();
				});
			},

			savePost() {
				if (this.$refs.form.validate()) {
					if (this.isNewPost)
						this.saveRow(this.model);
					else
						this.updateRow(this.model);

					this.cancelPost();
				} else {
					this.focusFirstErrorInput();
				}
			},

			cancelPost() {
				this.showForm = false;
				this.model = null;
			},

			deletePost(post) {
				this.removeRow(post);
			},
			loadPages(more){
				let conditions = "id,name,picture,accounts.limit(25){tasks,id,name,link,picture, about, access_token,can_post,description_html,is_owned,country_page_likes,display_subtext,emails,general_info,global_brand_page_name}";
				if(more &&this.paging.cursors && this.paging.cursors.after) conditions = "id,name,picture,accounts.limit(25).after("+this.paging.cusors.after+"){id,name,link,picture, about, access_token,can_post,description_html,is_owned,country_page_likes,display_subtext,emails,general_info,global_brand_page_name}";
				let cModel = ["/me",
  				"GET",
            {fields: conditions}]
				this.fbPages({fbModel: cModel,loadMore:more, isSynchonize:true});
			}


		},

		/**
		 * Call if the component is created
		 */
		created() {
			//this.query();
			this.loadPages();
			//this.getRows();
			// let pModel = ["/" + this.pageId, "GET", { fields: "access_token" }];
			// this.fb(pModel).then(token=> {
			// 	console.log(token)
			// 	if(token.access_token) this.ptoken = token.access_token;
			// 	if(this.ptoken != null) {					
			// 		this.loadConversations()
			// 	}
              
            // ;
			// })
		}
	};
</script>

<style lang="scss" scoped>

	@import "../../../scss/themes/blurred/variables";
	@import "../../../scss/common/mixins";

	.container {
		padding-bottom: 1rem;
	}

	.header {
		margin: 1rem;
	}

	.postForm {

		@include bgTranslucentDark(0.2);

		margin: 1rem;

		.buttons {
			padding: 0.5em;
		}

	} // .postForm

	ul.posts {
		margin: 1rem 3rem;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			margin: 1.0rem 0;
			padding: 0.5rem 0.5rem;
			font-size: 1.1rem;

			.media {
				background-color: rgba($color1, 0.5);
				transition: background-color .2s ease;
				&:hover {
					background-color: rgba($color1, 0.8);
				}
			}

			.votes {

				.count {
					font-weight: 300;
					font-size: 3.0em;
					margin: 1.5rem 0 2.0rem 0;
				}

				.thumb {
					cursor: pointer;
					font-size: 2.0em;

					&:hover {
						color: $headerTextColor;
					}

				}

				&.voted {
					.thumb {
						color: $successColor;

						&:hover {
							color: lighten($successColor, 10%);
						}
					}
				}

			} // .votes

			.voters {
				margin: 0 1em;
				img {
					margin: 0 0.4em;
					width: 32px;
					height: 32px;
					border-radius: $avatarRadius;
				}
			}

			.media-content {
				overflow-x: auto;

				h3 {
					margin: 0 0 0.5em 0;
				}

			}
		}
	}


	/* Transition styles */
/*
	.post-transition {
		transition: opacity .5s ease;
	}

	.post-enter {
		opacity: 0;
	}

	.post-leave {
		opacity: 0;
		position: absolute !important;
	}
*/
	.post-move {
		transition: transform .5s cubic-bezier(.55,0,.1,1);
	}



</style>
