<!--<template lang="pug">
	admin-page(:schema="schema", :selected="selected", :rows="contacts")
</template>-->
<template>    
	<div class="container-fluid">
<!-- 		<h2 class="title">{{ _('Fitlers') }}</h2>
		<div class="header flex row justify-space-between">
			<div class="group sort">
				<a class="link" @click="changeSort('-votes')" :class="{ active: sort == '-votes' }">{{ _("Hot") }}</a>
				<a class="link" @click="changeSort('-views')" :class="{ active: sort == '-views' }">{{ _("MostViewed") }}</a>
				<a class="link" @click="changeSort('-createdAt')" :class="{ active: sort == '-createdAt' }">{{ _("New") }}</a>
			</div>
			<div class="group filter">
				<a class="link" @click="changeViewMode(type)" v-for="type in contactTypes"  :class="{ active: viewMode == 'all' }">{{type.name}}</a>
			</div>
		</div> -->
		<admin-page :schema="schema" :selected="selected" :rows="contacts"></admin-page>
	</div>
</template>
<script>
import Vue from "vue";
import AdminPage from "../../core/DefaultAdminPage.vue";
//import schema from "./schema";
import toast from "../../core/toastr";
import moment from "moment";
import { contactTypes } from "./types";
import Service from "../../core/service";
import { validators } from "vue-form-generator";
import Multiselect from 'vue-multiselect'

import { mapGetters, mapActions } from "vuex";
 import MultiEmail from "../../core/components/dynamic/emails";
 Vue.component("fieldEmails", MultiEmail);

export default {
  components: {
	AdminPage: AdminPage,
	multiselect: Multiselect
	//fieldEmails:MultiEmail
  },

  computed: mapGetters("fsetting", [
    "contacts",
    "selected",
    "hasMore",
    "fetching",
    "sort",
    "viewMode"
  ]),
  // computed: mapGetters("users", [
  // 	"users"
  // ]),
  /**
   * Set page schema as data property
   */
  data() {
    return {
      //Service,
      assistants: [],
      contactTypes,
      schema: {
        id: "settings",
        title: _("Settings"),

        table: {
          multiSelect: true,
          columns: [
            // {
            //   title: _("ID"),
            //   field: "code",
            //   align: "left",
            //   formatter(value, model) {
            //     return model ? model.code : "";
            //   }
            // },
            // {
            //   title: _("Type"),
            //   field: "type",
            //   formatter(value) {
            //     let type = find(contactTypes, type => type.id == value);
            //     return type ? type.name : value;
            //   }
            // },

            {
              title: _("Name"),
              field: "name"
            },
            {
              title: _("Code"),
              field: "code"
            },
            // {
            //   title: _("Email"),
            //   field: "emails"
            // },
            // {
            //   title: _("Address"),
            //   field: "address"
            // },
            // {
            //   title: _("Description"),
            //   field: "description"
            // },
            {
              title: _("UsePageToken"),
              field: "useToken",
              formatter(value, model, col) {
                return value
                  ? "<i class='fa fa-check'/>"
                  : "<i class='fa fa-ban'/>";
              },
              align: "center"
            },
            {
              title: _("LastCommunication"),
              field: "lastCommunication",
              formatter(value) {
                return moment(value).fromNow();
              }
            }
          ],

          rowClasses: function(model) {
            return {
              inactive: !model.status
            };
          }
        },

        form: {
          fields: [
            // {
            //   type: "text",
            //   label: _("ID"),
            //   model: "code",
            //   readonly: true,
            //   disabled: true,
            //   multi: false,
            //   get(model) {
            //     if (model.code) return model.code;
            //     else return _("willBeGenerated");
            //   }
            // },
            {
              type: "select",
              label: _("Type"),
              model: "type",
              required: true,
              values: contactTypes,
              default: "new",
              validator: validators.required
            },
            {
              type: "text",
              label: _("Name"),
              model: "name",
              featured: true,
              required: true,
              placeholder: _("ContactName"),
              validator: validators.string
            },
     //        {
     //          type: "input",
     //          inputType: "number",
     //          label: _("Age"),
     //          model: "age",
     //          //featured: true,
     //          //required: true,
     //          min: 1,
     //          max: 999,
     //          placeholder: _("Age")
     //          //validator: validators.number
     //        },
     //        // {
     //        //   type: "input",
     //        //   inputType: "file",
     //        //   label: _("Avatar"),
     //        //   model: "avatar",
     //        //   //featured: true,
     //        //   //required: true,
     //        //   // min:1,
     //        //   // max:999,
     //        //   placeholder: _("Avatar"),
     //        //   //validator: validators.number
     //        //   buttons: [
     //        //     {
     //        //       classes: "btn-location",
     //        //       label: "Current location",
     //        //       onclick: function(model) {
     //        //         if (navigator.geolocation) {
     //        //           navigator.geolocation.getCurrentPosition(function(pos) {
     //        //             model.address.geo = {
     //        //               lat: pos.coords.latitude.toFixed(5),
     //        //               lng: pos.coords.longitude.toFixed(5)
     //        //             };
     //        //           });
     //        //         } else {
     //        //           alert("Geolocation is not supported by this browser.");
     //        //         }
     //        //       }
     //        //     }
     //        //   ]
     //        // },
     //        // {
     //        // 	type: "dateTimePicker",
     //        // 	label:  _("BirthDay"),
     //        // 	model: "dob",
     //        // 	//required: true,
     //        // 	placeholder: _("BirthDay"),
     //        // 	min: moment("1900-01-01").toDate(),
     //        // 	//max: moment("2016-01-01").toDate(),
     //        // 	validator: validators.date,
     //        // 	dateTimePickerOptions: {
     //        // 		format: "DD-MM-YYYY"
     //        // 	},

     //        // 	onChanged: function(model, newVal, oldVal, field) {
     //        // 		model.age = moment().year() - moment(newVal).year();
     //        // 	}
     //        // },
     //        {
     //          type: "checklist",
     //          label: _("Assistants"),
     //          model: "assistants",
     //          //listBox: true,
     //          multi: true,
     //          checklistOptions: {
     //            value: "id"
     //          },
     //          values: () => {
     //            return this.assistants;
     //          }
     //        },
     //        // {
     //        //   type: "vueMultiSelect",
     //        //   model: "library",
     //        //   label: "Libraries",
     //        //   placeholder: "Select your favorite library",
     //        //   required: true,
     //        //   validator: validators.required,
     //        //   selectOptions: {
     //        //     multiple: false,
     //        //     key: "name",
     //        //     label: "name",
     //        //     searchable: false,
     //        //     closeOnSelect: false,
     //        //     allowEmpty: false
     //        //   },
     //        //   values: [
     //        //     {
     //        //       name: "Vue.js",
     //        //       language: "JavaScript"
     //        //     },
     //        //     {
     //        //       name: "Rails",
     //        //       language: "Ruby"
     //        //     },
     //        //     {
     //        //       name: "Sinatra",
     //        //       language: "Ruby"
     //        //     }
     //        //   ]
     //        // },
     //        {
			  // type: "emails",
			  // //inputType:"email",
     //          label: _("Emails"),
     //          model: "emails",
     //          featured: true,
			  // multi: true,			 
     //          //required: true,
			  // placeholder: _("Emails"),
			  // //values: [],
     //          //validator: validators.string
     //        },
            {
              type: "text",
              label: _("Code"),
              model: "code",
              featured: true,
              multi: true,
              //required: true,
              placeholder: _("Code"),
              validator: validators.string
            },
     //        {
     //          type: "textArea",
     //          label: _("Address"),
     //          model: "address",
     //          placeholder: _("AddressOfContact"),
     //          validator: validators.string
     //        },
     //        {
     //          type: "textArea",
     //          label: _("ShipAddress"),
     //          model: "ship_address",
     //          placeholder: _("ShipAddress"),
     //          validator: validators.string
     //        },
            {
              type: "textArea",
              label: _("Description"),
              model: "description",
              featured: false,
              required: false,
              validator: validators.string
            },

            {
              type: "label",
              label: _("LastCommunication"),
              model: "lastCommunication",
              get(model) {
                return model && model.lastCommunication
                  ? moment(model.lastCommunication).fromNow()
                  : "-";
              }
            },
            {
              type: "switch",
              label: _("UsePageToken"),
              model: "useToken",
              multi: true,
              default: 1,
              textOn: _("Use"),
              textOff: _("UnUse"),
              valueOn: 1,
              valueOff: 0
            }
          ]
        },

        options: {
          searchable: true,

          enableNewButton: true,
          enabledSaveButton: true,
          enableDeleteButton: false,
          enableCloneButton: true,

          validateAfterLoad: false, // Validate after load a model
          validateAfterChanged: false, // Validate after every changes on the model
          validateBeforeSave: true // Validate before save a model
        },
        events: {
          onSelect: null,
          onNewItem: null,
          onCloneItem: null,
          onSaveItem: null,
          onDeleteItem: null,
          onChangeItem: null,
          onValidated(model, errors, schema) {
            if (errors.length > 0)
              console.warn(
                "Validation error in page! Errors:",
                errors,
                ", Model:",
                model
              );
          }
        },
        resources: {
          addCaption: _("AddNewSetting"),
          saveCaption: _("Save"),
          cloneCaption: _("Clone"),
          deleteCaption: _("Delete")
        }
      }
    };
  },

  /**
   * Socket handlers. Every property is an event handler
   */
  socket: {
    prefix: "/fsetting/",

    events: {
      /**
       * New Contact added
       * @param  {Object} res Contact object
       */
      created(res) {
        this.created(res.data);
        toast.success(this._("ContactNameAdded", res), this._("ContactAdded"));
      },

      /**
       * Contact updated
       * @param  {Object} res Contact object
       */
      updated(res) {
        this.updated(res.data);
        toast.success(
          this._("ContactNameUpdated", res),
          this._("ContactUpdated")
        );
      },

      /**
       * Contact removed
       * @param  {Object} res Response object
       */
      removed(res) {
        this.removed(res.data);
        toast.success(
          this._("ContactNameDeleted", res),
          this._("ContactDeleted")
        );
      }
    }
  },

  methods: {
    ...mapActions("fsetting", [
      "loadMoreRows",
      "changeSort",
      "changeViewMode",
      "downloadRows",
      "created",
      "updated",
      "removed",
      "selectRow",
      "clearSelection",
      "saveRow",
      "updateRow",
      "removeRow"
    ])
     
  },

  /**
   * Call if the component is created
   */
  created() {
    // Download rows for the page
    this.downloadRows();
    //this.getUsers();
    //this.schema.data.assistants = [{id:"121212", name: "sale 01"}];
    let userService = window.peopleService;
    userService
      .rest("findByPage", {
        fields: { id: true, username: true, fullName: true },
        filter: {}
      })
      .then(result => {
        console.log(result);
        this.assistants = result.map(a => {
          a.name = a.fullName ? a.fullName : a.username;
          return a;
        });
        //this.schema.data.assistants = result.data;
      })
      .catch(err => {
        console.error(err);
      });
    //console.log(this.users);

    //console.log(this.contacts);
  }
};
</script>
