<!--<template lang="pug">
	admin-page(:schema="schema", :selected="selected", :rows="contacts")
</template>-->
<template>    
	<div class="container-fluid">
		<h2 class="title">{{ _('Fitlers') }}</h2>
		<div class="header flex row justify-space-between">
			<div class="group sort">
				<!-- <a class="link" @click="changeSort" :class="{ active: sort == '-views' }" v-for="type in contactTypes" >{{type.name}}</a> -->
				<a class="link" @click="changeSort('-votes')" :class="{ active: sort == '-votes' }">{{ _("Hot") }}</a>
				<a class="link" @click="changeSort('-views')" :class="{ active: sort == '-views' }">{{ _("MostViewed") }}</a>
				<a class="link" @click="changeSort('-createdAt')" :class="{ active: sort == '-createdAt' }">{{ _("New") }}</a>
			</div>
			<!-- <button class="button primary" @click="newPost">
				<span class="icon">
					<i class="fa fa-plus"></i>
				</span>
				<span>{{ _("NewPost") }}</span>
			</button> -->
			<div class="group filter">
				<a class="link" @click="changeViewMode(type)" v-for="type in contactTypes"  :class="{ active: viewMode == 'all' }">{{type.name}}</a>
				<!-- <a class="link" @click="changeViewMode('my')" :class="{ active: viewMode == 'my' }">{{ _("MyPosts") }}</a> -->
			</div>
		</div>
		<admin-page :schema="schema" :selected="selected" :rows="users"></admin-page>
	</div>
</template>
<script>
	import Vue from "vue";
	import AdminPage from "../../core/DefaultAdminPage.vue";
	import schema from "./schema";
	import toast from "../../core/toastr";
	import {contactTypes} from "./types";

	import { mapGetters, mapActions } from "vuex";

	export default {

		components: {
			AdminPage: AdminPage
		},

		computed: mapGetters("users", [
			// "contacts",
			"users",
			"selected",			 
			"hasMore",
			"fetching",
			"sort",
			"viewMode"
		]),

		/**
		 * Set page schema as data property
		 */
		data() {
			return {
				contactTypes,
				schema
			};
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		socket: {

			prefix: "/users/",

			events: {
				/**
				 * New Contact added
				 * @param  {Object} res Contact object
				 */
				created(res) {
					this.created(res.data);
					toast.success(this._("ContactNameAdded", res), this._("ContactAdded"));
				},

				/**
				 * Contact updated
				 * @param  {Object} res Contact object
				 */
				updated(res) {
					this.updated(res.data);
					toast.success(this._("ContactNameUpdated", res), this._("ContactUpdated"));
				},

				/**
				 * Contact removed
				 * @param  {Object} res Response object
				 */
				removed(res) {
					this.removed(res.data);
					toast.success(this._("ContactNameDeleted", res), this._("ContactDeleted"));
				}
			}
		},

		methods: {
			...mapActions("users", [
				"getRows",
				"loadMoreRows",
				"changeSort",
				"changeViewMode",
				"downloadRows",
				"created",
				"updated",
				"removed",
				"selectRow",
				"clearSelection",
				"saveRow",
				"updateRow",
				"removeRow"
			])
		},

		/**
		 * Call if the component is created
		 */
		created() {
			// Download rows for the page
			//this.downloadRows();
			this.getRows();
			console.log(this.users)
		}
	};
</script>
