<!--<template lang="pug">
	admin-page(:schema="schema", :selected="selected", :rows="Settings")
</template>-->
<template>    
	<div class="container-fluid">		 
		<h2 class="title"><i class='fa fa-gear'></i>{{ _('Settings') }}</h2>
		<div class="header flex row justify-space-between">
			<div class="group sort">
				 
				<a class="link" @click="changeSort('-votes')" :class="{ active: sort == '-votes' }">{{ _("Hot") }}</a>
				<a class="link" @click="changeSort('-views')" :class="{ active: sort == '-views' }">{{ _("MostViewed") }}</a>
				<a class="link" @click="newSetting" :class="{ active: sort == '-createdAt' }">{{ _("New") }}</a>
			</div>		 
		 
		</div>
	 
		   <b-modal ref="myModalRef" hide-footer centered class="container-fluid"
			   title="" :no-close-on-backdrop="false" >
		 		<div class="form" v-if="model">
			<vue-form-generator :schema="schema" :model="model" :options="options" :multiple="false" ref="form" :is-new-model="isNewPost"></vue-form-generator>
			<div class="errors text-center">
				<div class="alert alert-danger" v-for="(item, index) in validationErrors" :key="index">{{
					item.field.label }}:
					<strong>{{ item.error }}</strong>
				</div>
			</div>
			<div class="buttons flex justify-space-around">
				<button class="button primary" @click="savePost" :disabled="!enabledSave">
					<i class="icon fa fa-save"></i>{{_("Save") }}
				</button>
				<button class="button outline" @click="cloneModel" :disabled="!enabledClone">
					<i class="icon fa fa-copy"></i>{{_("Clone") }}
				</button>
				<button class="button danger" @click="deletePost" :disabled="!enabledDelete">
					<i class="icon fa fa-trash"></i>{{_("Delete") }}
				</button>
			</div>
		</div> 
	  </b-modal>
 
		<div class="header flex row justify-space-between">  
			<div class="content flex align-top justify-space-around panels" v-for="type in settingTypes">
								<div class="panel">
									<div class="header"><i class="fa fa-gear mr-2"></i>{{_(type.name)}}<i class="fa fa-plus ml-2" @click="newSetting(type.id)"></i></div>
									<div class="body">
										<p>{{_(type.name + '-'+ type.detail)}}</p>
                      <div class="form-option" v-for="item in getByType(type)" @change="toggleStatus($event, item)">
                       
                          <input :id="item.code" type="checkbox" :checked="item.status"/>
                          <label :for="item.code">{{item.name}}</label>
                     
                      </div>
                      
									</div>
								</div>
			</div>						
		 
		</div> 

		 
	</div>
</template>
<script>
import Vue from "vue";
import AdminPage from "../../core/DefaultAdminPage.vue";
// import schema from "./schema";
import toast from "../../core/toastr"; 
import { settingTypes, inputTypes, templates } from "./types";
import { validators, schema as schemaUtils } from "vue-form-generator";
import { mapGetters, mapActions } from "vuex";
import {camelCase ,each, isObject, isArray, isFunction, isNil,  isString, defaults, orderBy, includes, get, cloneDeep, filter, find} from "lodash";
	//const PAGEID = '2004874763077886'
	function searchInObject(obj, text) {
		text = text.toLowerCase();
		let values = Object.values(obj);
		let res = values.filter(val => {
			if (isObject(val)) {
				return searchInObject(val, text);
			} else if (isArray(val)) {
				return val.filter(item => searchInObject(item, text));
			} else if (isString(val)) {
				return val.toLowerCase().indexOf(text) != -1;
			}
		});
		return res.length > 0;
	}
export default {
  components: {
    AdminPage: AdminPage
  },

  computed: {
    ...mapGetters("settings", [
      "settings",       
      "selected",
      "hasMore",
      "fetching",
      "sort",
      "viewMode"
    ]),
    ...mapGetters("session", {
				search: "searchText"
			}),
			filteredOrderedRows() {
				let items = this.settings;
				console.log("item", items)
				if (this.search) {
					let search = this.search.toLowerCase();
					items = this.settings.filter(function (row) {
						return searchInObject(row, search);
					});
				}
				//orderBy(items, this.order.field, this.order.direction == 1 ? "asc" : "desc");
				return items;
			},
    options() {
      return this.schema.options || {};
    },

    enabledNew() {
      return this.options.enableNewButton !== false;
    },
    enabledSave() {
      return this.model && this.options.enabledSaveButton !== false;
    },
    enabledClone() {
      return (
        this.model &&
        !this.isNewModel &&
        this.options.enableDeleteButton !== false
      );
    },
    enabledDelete() {
      return (
        this.model &&
        !this.isNewModel &&
        this.options.enableDeleteButton !== false
      );
    },

    validationErrors() {
      if (this.$refs.form && this.$refs.form.errors)
        return this.$refs.form.errors;

      return [];
    }
  },
  /**
   * Set page schema as data property
   */
  data() {
    return {
      settingTypes,
      // schema,
      showForm: false,
      isNewPost: false,
      model: null,
      order: {
        field: "id",
        direction: 1
      },

      isNewModel: false,
      
      schema: {
        options: {
		searchable: true,


		enableNewButton: true,
		enabledSaveButton: true,
		enableDeleteButton: true,
		enableCloneButton: false,

		validateAfterLoad: false, // Validate after load a model
		validateAfterChanged: false, // Validate after every changes on the model
		validateBeforeSave: false // Validate before save a model
	},
        fields: [
          {
            type: "text",
            label: _("ID"),
            model: "code",
            readonly: true,
            disabled: true,
            multi: false,
            get(model) {
              if (model.code) return model.code;
              else return _("willBeGenerated");
            }
          },
          {
            type: "select",
            label: _("Type"),
            model: "type",
            featured: true,
            required: true,
            values: settingTypes,
            default: "account",
            validator: validators.required             
          },
           {
            type: "select",
            label: this._("Template"),
            model: "template",
            featured: true,
            required: true,  
            values: templates,          
            // values: (model, schema)=> {
            //   if(model.type) {
            //     let setting = find(this.settingTypes, {id: model.type});
            //     if(setting)
            //     return setting.template;  
            //   } 
            //   return [];
            // },
            placeholder: this._("Template"),
            validator: validators.string
          },
          {
            type: "text",
            label: _("Name"),
            model: "name",
            featured: true,
            required: true,
            placeholder: _("settingName"),
            validator: validators.string
          },
          {
            type: "text",
            label: _("Description"),
            model: "description",
            featured: false,
            required: false,
            validator: validators.string
          },
         
          {
            type: "select",
            label: this._("InputTypes"),
            model: "input",
            featured: true,
            required: true,
            values: inputTypes,
            placeholder: this._("InputTypes"),
            validator: validators.string,
           
          },
           {
            type: "text",
            label: this._("Value"),
            model: "value",
            featured: true,
            required: true,
            placeholder: this._("Value"),
            validator: validators.string
          },
          {
            type: "switch",
            label: _("Status"),
            model: "status",
            multi: true,
            default: 1,
            textOn: _("Active"),
            textOff: _("Inactive"),
            valueOn: 1,
            valueOff: 0
          }
        ]
      }
    };
  },

  /**
   * Socket handlers. Every property is an event handler
   */
  socket: {
    prefix: "/settings/",

    events: {
      /**
       * New Setting added
       * @param  {Object} res Setting object
       */
      created(res) {
         console.log(res.data)
        // this.created(res.data);
        // toast.success(this._("SettingNameAdded", res), this._("SettingAdded"));
      },

      /**
       * Setting updated
       * @param  {Object} res Setting object
       */
      updated(res) {
        this.updated(res.data);
        console.log(res.data)
        toast.success(
          res.data.name ,
          this._( res.data.type +"-SettingUpdated")
        );
      },

      /**
       * Setting removed
       * @param  {Object} res Response object
       */
      removed(res) {
        this.removed(res.data);
        toast.success(
          this._("SettingNameDeleted", res),
          this._("SettingDeleted")
        );
      }
    }
  },

  methods: {
    ...mapActions("settings", [
      "created",
      "getRows",
      "loadMoreRows",
      "changeSort",
      "changeViewMode",
      "vote",
      "unVote",
      "saveRow",
      "updateRow",
      "removeRow",
      "updated",
      "removed"
    ]),
    getByType(type){

      return filter(this.filteredOrderedRows, {type: type.id});
    },
    markdown(content) {
      return marked(content);
    },

    iVoted(post) {
      return _.find(post.voters, user => user.code == this.me.code) != null;
    },

    toggleVote(post) {
      if (this.iVoted(post)) this.unVote(post);
      else this.vote(post);
    },

    toggleStatus(ev, post) {
      console.log(ev.target.checked)    
       //console.log(checked.returnValue)        
      post.status = ev.target.checked ? 1 : 0;    
      console.log(post)
      this.updateRow(post)
    },

    lastVoters(post, count = 5) {
      if (post.voters && post.voters.length > 0) {
        let voters = _.clone(post.voters)
          .reverse()
          .slice(0, 5);
        return voters;
      }
      return [];
    },

    createdAgo(post) {
      return this._("CreatedAgoByName", {
        ago: Vue.filter("ago")(post.createdAt),
        name: post.author ? post.author.fullName : undefined
      });
    },

    editedAgo(post) {
      if (post.editedAt)
        return this._("EditedAgo", { ago: Vue.filter("ago")(post.editedAt) });
    },

    newSetting(type) {
      this.model = schemaUtils.createDefaultObject(this.schema);
      if(type) {
        this.model.type = type;
        this.model.template = filter(this.model.template, {pid: type});
        // let setting = find(this.settingTypes, {id: type});
        // console.log(setting)
        // if(setting)
        // this.model.template.values = setting.template;
      }
      this.showForm = true;
      this.isNewPost = true;      
      this.focusFirstInput();
      this.$refs.myModalRef.show();
    },

    editPost(post) {
      this.model = cloneDeep(post);
      this.showForm = true;
      this.isNewPost = false;
      this.focusFirstInput();
    },

    focusFirstInput() {
      this.$nextTick(() => {
        let el = document.querySelector(
          ".postForm .form-control:nth-child(1):not([readonly]):not(:disabled)"
        );
        if (el) el.focus();
      });
    },

    focusFirstErrorInput() {
      this.$nextTick(() => {
        let el = document.querySelector(
          ".postForm .form-group.error .form-control"
        );
        if (el) el.focus();
      });
    },

    savePost() {
      if (this.$refs.form.validate()) {
        if (this.isNewPost) this.saveRow(this.model);
        else this.updateRow(this.model);

        this.cancelPost();
      } else {
        this.focusFirstErrorInput();
      }
    },

    cancelPost() {
      this.showForm = false;
      this.model = null;
      this.$refs.myModalRef.hide();
    },

    deletePost(post) {
      this.removeRow(post);
    },
    select(event, row, add) {
      this.isNewModel = false;

      if (
        this.schema.table.multiSelect === true &&
        (add || (event && event.ctrlKey))
      ) {
        this.$parent.selectRow(row, true);
      } else {
        this.$parent.selectRow(row, false);
      }
    },

    selectAll(event) {
      this.isNewModel = false;

      let filter = Vue.filter("filterBy");
      let filteredRows = filter(this.rows, this.search);

      if (this.selected.length < filteredRows.length) {
        // Select all
        this.$parent.selectRow(filteredRows, false);
      } else {
        // Unselect all
        this.$parent.clearSelection();
      }
    },

    generateModel() {
      if (this.selected.length == 1) {
        this.model = cloneDeep(this.selected[0]);
      } else if (this.selected.length > 1) {
        this.model = schemaUtils.mergeMultiObjectFields(
          this.schema.form,
          this.selected
        );
      } else this.model = null;
    },

    newModel() {
      console.log("Create new model...");

      this.$parent.clearSelection();

      let newRow = schemaUtils.createDefaultObject(this.schema.form);
      this.isNewModel = true;
      this.model = newRow;

      this.$nextTick(() => {
        let el = document.querySelector(
          "div.form input:nth-child(1):not([readonly]):not(:disabled)"
        );
        if (el) el.focus();
      });
    },

    cloneModel() {
      console.log("Clone model...");
      let baseModel = this.model;
      this.$parent.clearSelection();

      let newRow = cloneDeep(baseModel);
      newRow.id = null;
      newRow.code = null;
      this.isNewModel = true;
      this.model = newRow;
    },

    saveModel() {
      console.log("Save model...");
      if (this.options.validateBeforeSave === false || this.validate()) {
        if (this.isNewModel) this.$parent.saveRow(this.model);
        else this.$parent.updateRow(this.model);
      } else {
        // Validation error
      }
    },

    deleteModel() {
      if (this.selected.length > 0) {
        each(this.selected, row => this.$parent.removeRow(row));
        this.$parent.clearSelection();
      }
    },

    validate() {
      let res = this.$refs.form.validate();

      if (this.schema.events && isFunction(this.schema.events.onValidated)) {
        this.schema.events.onValidated(
          this.model,
          this.$refs.form.errors,
          this.schema
        );
      }

      if (!res) {
        // Set focus to first input with error
        this.$nextTick(() => {
          let el = document.querySelector(
            "div.form tr.error input:nth-child(1)"
          );
          if (el) el.focus();
        });
      }

      return res;
    }
  },

  /**
   * Call if the component is created
   */
  created() {
    // Download rows for the page
    this.getRows();
    console.log(this.Settings);
  }
};
</script>
